Repository Azure/azure-sdk-for-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @heaths, @RickWinter, @ronniegeraghty, @JeffreyRichter, @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @weshaggard, @Azure/azure-sdk-eng

more spell checks
  sdk/openai/inference/examples/azure_chat_completions_stream.rs
  sdk/openai/inference/examples/chat_completions_stream.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

make AsHeaders fallible
  sdk/core/azure_core/src/request_options/range.rs
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/partition_key.rs
  sdk/typespec/typespec_client_core/src/http/headers/mod.rs
  sdk/typespec/typespec_client_core/src/http/request/mod.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @ronniegeraghty

add FromHeaders for typed header access
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/partition_key.rs
  sdk/typespec/typespec_client_core/src/http/headers/mod.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @heaths, @RickWinter, @ronniegeraghty

Update sdk/cosmos/azure_data_cosmos/src/partition_key.rs
  sdk/cosmos/azure_data_cosmos/src/partition_key.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

pr feedback
  sdk/typespec/typespec_client_core/src/http/headers/mod.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Change type of UserAssignedIdentities so it allows serialization/deserialization as expected.
  services/mgmt/app/src/package_preview_2023_08/models.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Use implicit environment variable instead of boolean coercion
  eng/pipelines/templates/steps/analyze.yml
  eng/scripts/Analyze-Code.ps1
Owners: @weshaggard, @heaths, @RickWinter

make required header error more consistent
  sdk/typespec/typespec_client_core/src/http/headers/mod.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

AMQP changes for C++ Claim Based Security - also fixed session close issue that affected reliability
  sdk/core/azure_core_amqp/Cargo.toml
  sdk/core/azure_core_amqp/src/cbs.rs
  sdk/core/azure_core_amqp/src/fe2o3/cbs.rs
  sdk/core/azure_core_amqp/src/fe2o3/connection.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/consumer/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/mod.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @ronniegeraghty

Tests no longer need tokio
  sdk/core/azure_core_amqp/Cargo.toml
Owners: @heaths, @RickWinter, @JeffreyRichter

CI pipeine fixes
  sdk/core/azure_core_amqp/src/cbs.rs
  sdk/core/azure_core_amqp/src/noop.rs
Owners: @heaths, @RickWinter, @JeffreyRichter

Use phantom data for noop implementation
  sdk/core/azure_core_amqp/src/cbs.rs
  sdk/core/azure_core_amqp/src/noop.rs
Owners: @heaths, @RickWinter, @JeffreyRichter

Improve support for typed HTTP headers (#1829)
  sdk/core/azure_core/src/request_options/range.rs
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/partition_key.rs
  sdk/typespec/typespec_client_core/src/http/headers/mod.rs
  sdk/typespec/typespec_client_core/src/http/request/mod.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @ronniegeraghty

add custom future type, ResponseFuture, for HTTP responses
  eng/dict/rust-custom.txt
  eng/test/mock_transport/src/mock_response.rs
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core/src/lib.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos_metadata.rs
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/clients/database_client.rs
  sdk/cosmos/azure_data_cosmos/src/models/mod.rs
  sdk/cosmos/azure_data_cosmos/src/pipeline/mod.rs
  sdk/identity/azure_identity/src/credentials/client_certificate_credentials.rs
  sdk/identity/azure_identity/src/federated_credentials_flow/mod.rs
  sdk/identity/azure_identity/src/federated_credentials_flow/response.rs
  sdk/identity/azure_identity/src/refresh_token.rs
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/src/error/http_error.rs
  sdk/typespec/typespec_client_core/src/http/clients/reqwest.rs
  sdk/typespec/typespec_client_core/src/http/mod.rs
  sdk/typespec/typespec_client_core/src/http/options/transport.rs
  sdk/typespec/typespec_client_core/src/http/pipeline.rs
  sdk/typespec/typespec_client_core/src/http/response.rs
  sdk/typespec/typespec_client_core/src/http/response_body.rs
  sdk/typespec/typespec_client_core/src/http/response_future.rs
  sdk/typespec/typespec_client_core/src/lib.rs
  sdk/typespec/typespec_derive/src/lib.rs
  sdk/typespec/typespec_derive/src/model.rs
  sdk/typespec/typespec_derive/tests/compilation-tests.rs
  sdk/typespec/typespec_derive/tests/data/compilation-tests/Cargo.toml
  sdk/typespec/typespec_derive/tests/data/compilation-tests/src/.gitignore
  sdk/typespec/typespec_derive/tests/data/compilation-tests/src/lib.rs
  sdk/typespec/typespec_derive/tests/data/compilation-tests/src/model/bad_attributes.expected.json
  sdk/typespec/typespec_derive/tests/data/compilation-tests/src/model/bad_attributes.rs
  sdk/typespec/typespec_derive/tests/data/compilation-tests/src/model/mod.rs
  sdk/typespec/typespec_derive/tests/data/compilation-tests/src/model/not_derive_deserialize.expected.json
  sdk/typespec/typespec_derive/tests/data/compilation-tests/src/model/not_derive_deserialize.rs
  sdk/typespec/typespec_derive/tests/data/compilation-tests/src/model/unknown_format.expected.json
  sdk/typespec/typespec_derive/tests/data/compilation-tests/src/model/unknown_format.rs
Owners: @weshaggard, @heaths, @RickWinter, @JeffreyRichter, @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @ronniegeraghty

AMQP changes for C++ Claim Based Security - also fixed session close issue that affected reliability (#1833)
  sdk/core/azure_core_amqp/src/cbs.rs
  sdk/core/azure_core_amqp/src/fe2o3/cbs.rs
  sdk/core/azure_core_amqp/src/fe2o3/connection.rs
  sdk/core/azure_core_amqp/src/noop.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/consumer/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/mod.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @ronniegeraghty

create, read, delete
  sdk/cosmos/azure_data_cosmos/examples/cosmos/create.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/delete.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/main.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/query.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/read.rs
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/clients/database_client.rs
  sdk/typespec/src/error/mod.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @heaths, @RickWinter, @ronniegeraghty

create_item method for Cosmos ContainerClient
  sdk/cosmos/azure_data_cosmos/examples/cosmos/create.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/main.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/metadata.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/query.rs
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/clients/database_client.rs
  sdk/cosmos/azure_data_cosmos/src/models/mod.rs
  sdk/cosmos/azure_data_cosmos/src/options/item_options.rs
  sdk/cosmos/azure_data_cosmos/src/options/mod.rs
  sdk/cosmos/azure_data_cosmos/src/options/query_options.rs
  sdk/cosmos/azure_data_cosmos/src/partition_key.rs
  sdk/cosmos/azure_data_cosmos/src/utils.rs
  sdk/identity/azure_identity/src/federated_credentials_flow/mod.rs
  sdk/identity/azure_identity/src/refresh_token.rs
  sdk/typespec/typespec_client_core/src/http/response.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @heaths, @RickWinter, @JeffreyRichter, @ronniegeraghty

clean up old example from incorrect rebase
  sdk/cosmos/azure_data_cosmos/examples/cosmos/main.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos_metadata.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos_query.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

replace and upsert items
  sdk/cosmos/azure_data_cosmos/examples/cosmos/main.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/replace.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/upsert.rs
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/constants.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

some tidy up
  sdk/cosmos/azure_data_cosmos/examples/cosmos/main.rs
  sdk/cosmos/azure_data_cosmos/src/models/mod.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

add alternate impls of from_response_body for wasm
  sdk/cosmos/azure_data_cosmos/src/models/mod.rs
  sdk/typespec/typespec_client_core/src/http/response.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @heaths, @RickWinter, @ronniegeraghty

update Item<T> to contain an Option<T>
  sdk/cosmos/azure_data_cosmos/src/models/mod.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

pr feedback
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/typespec/typespec_client_core/src/http/response.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @heaths, @RickWinter, @ronniegeraghty

make Item into an option-like instead
  sdk/cosmos/azure_data_cosmos/Cargo.toml
  sdk/cosmos/azure_data_cosmos/examples/cosmos/create.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/read.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/replace.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/upsert.rs
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/models/item.rs
  sdk/cosmos/azure_data_cosmos/src/models/mod.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

flip Into and From impls
  sdk/cosmos/azure_data_cosmos/src/models/item.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

clean up some unnecessary methods and reformat comments
  sdk/cosmos/azure_data_cosmos/src/models/item.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

updates after rebasing on typed headers
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

doc fix
  sdk/cosmos/azure_data_cosmos/src/models/item.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

fix tests
  sdk/cosmos/azure_data_cosmos/src/models/item.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

disable all xml tests unless xml feature enabled
  sdk/typespec/typespec_client_core/src/http/response_future.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Update codegen branch URL, versions
  services/autorust/README.md
  services/autorust/codegen/examples/resources_mgmt.rs
  services/autorust/codegen/examples/storage_mgmt.rs
  services/autorust/codegen/templates/Cargo.toml.jinja
  services/autorust/codegen/templates/readme.md.jinja
  services/autorust/openapi/README.md
  services/autorust/openapi/src/autorest.rs
  services/autorust/openapi/src/example.rs
  services/autorust/openapi/src/info.rs
  services/autorust/openapi/src/openapi.rs
  services/autorust/openapi/src/parameter.rs
  services/autorust/openapi/src/reference.rs
  services/autorust/openapi/src/schema.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Update authored branch URLs, versions
  sdk/core/Cargo.toml
  sdk/data_cosmos/Cargo.toml
  sdk/data_tables/Cargo.toml
  sdk/identity/Cargo.toml
  sdk/iot_deviceupdate/Cargo.toml
  sdk/iot_hub/Cargo.toml
  sdk/messaging_eventgrid/Cargo.toml
  sdk/messaging_servicebus/Cargo.toml
  sdk/security_keyvault/Cargo.toml
  sdk/storage/Cargo.toml
  sdk/storage_blobs/Cargo.toml
  sdk/storage_datalake/Cargo.toml
  sdk/storage_queues/Cargo.toml
Owners: @heaths, @RickWinter, @JeffreyRichter, @ronniegeraghty

Bump crate versions and ignore problematic api-version
  eng/scripts/services_tests.sh
  sdk/data_cosmos/Cargo.toml
  sdk/data_tables/Cargo.toml
  sdk/identity/Cargo.toml
  sdk/iot_deviceupdate/Cargo.toml
  sdk/iot_hub/Cargo.toml
  sdk/messaging_eventgrid/Cargo.toml
  sdk/messaging_servicebus/Cargo.toml
  sdk/security_keyvault/Cargo.toml
  sdk/storage/Cargo.toml
  sdk/storage_blobs/Cargo.toml
  sdk/storage_datalake/Cargo.toml
  sdk/storage_queues/Cargo.toml
  services/autorust/codegen/templates/Cargo.toml.jinja
  services/autorust/codegen/templates/WorkspaceCargo.toml.jinja
  services/mgmt/alertsmanagement/autorust.toml
  services/mgmt/servicefabricmanagedclusters/autorust.toml
  services/mgmt/support/autorust.toml
  services/svc/batch/autorust.toml
  services/svc/devcenter/autorust.toml
  services/svc/maps/autorust.toml
  services/svc/programmableconnectivity/autorust.toml
Owners: @weshaggard, @heaths, @RickWinter, @ronniegeraghty, @JeffreyRichter

[Cosmos] Item Create/Read/Replace/Upsert/Delete (#1830)
  sdk/cosmos/azure_data_cosmos/Cargo.toml
  sdk/cosmos/azure_data_cosmos/examples/cosmos/create.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/delete.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/main.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/metadata.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/query.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/read.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/replace.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/upsert.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos_metadata.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos_query.rs
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/clients/database_client.rs
  sdk/cosmos/azure_data_cosmos/src/constants.rs
  sdk/cosmos/azure_data_cosmos/src/models/item.rs
  sdk/cosmos/azure_data_cosmos/src/models/mod.rs
  sdk/cosmos/azure_data_cosmos/src/options/item_options.rs
  sdk/cosmos/azure_data_cosmos/src/options/mod.rs
  sdk/cosmos/azure_data_cosmos/src/options/query_options.rs
  sdk/cosmos/azure_data_cosmos/src/partition_key.rs
  sdk/cosmos/azure_data_cosmos/src/utils.rs
  sdk/identity/azure_identity/src/federated_credentials_flow/mod.rs
  sdk/identity/azure_identity/src/refresh_token.rs
  sdk/typespec/src/error/mod.rs
  sdk/typespec/typespec_client_core/src/http/response.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @heaths, @RickWinter, @JeffreyRichter, @ronniegeraghty

Updates for main README
  README.md
Owners: @heaths, @RickWinter, @ronniegeraghty

Fix azure_core crate ref in storage
  sdk/storage_blobs/Cargo.toml
Owners: @heaths, @RickWinter, @ronniegeraghty

initial pager refactor
  sdk/core/azure_core/src/lib.rs
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/options/query_databases_options.rs
  sdk/typespec/typespec_client_core/src/http/pageable.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @ronniegeraghty

update ContainerClient::query_items for pager refactor
  sdk/cosmos/azure_data_cosmos/examples/cosmos/query.rs
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/constants.rs
  sdk/cosmos/azure_data_cosmos/src/models/mod.rs
  sdk/typespec/typespec_client_core/src/http/mod.rs
  sdk/typespec/typespec_client_core/src/http/pager.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @heaths, @RickWinter, @ronniegeraghty

docs and renaming
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/typespec/typespec_client_core/src/http/pager.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @heaths, @RickWinter, @ronniegeraghty

remove extra file
  sdk/cosmos/azure_data_cosmos/src/options/query_databases_options.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @heaths @RickWinter @ronniegeraghty
/sdk/                    @heaths @RickWinter @ronniegeraghty

# GitHub integration and bot rules
/.github/                @heaths @RickWinter @ronniegeraghty

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @heaths @RickWinter @JeffreyRichter

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @heaths @RickWinter @JeffreyRichter

###########
# Client SDKs
###########

# AzureSDKOwners: @heaths
# ServiceLabel: %Storage
# PRLabel: %Storage
/sdk/storage/           @heaths @RickWinter @JeffreyRichter

# AzureSDKOwners: @heaths
# ServiceOwner: @Pilchie
# ServiceLabel: %Cosmos
# PRLabel: %Cosmos
/sdk/cosmos/          @analogrelay @Pilchie @kirankumarkolli @tvaron3 @FabianMeiswinkel @kundadebdatta

###########
# Eng Sys
###########
/eng/                   @weshaggard @heaths @RickWinter
/.github/CODEOWNERS      @RickWinter @ronniegeraghty @Azure/azure-sdk-eng
