Repository Azure/azure-sdk-for-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman, @chlowell, @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @nehrao1, @kushagraThapar, @Azure/azure-sdk-write-keyvault, @vincenttran-msft, @jalauzon-msft, @hallipr, @weshaggard, @Azure/azure-sdk-eng, @benbp, @rickwinter

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

# -----------------------------------------------------------------
# IMPORTANT NOTE:
#   The ordering of "ServiceLabel" blocks is important!
#
#   Matching takes place from bottom-to-top and will stop after the
#   first match.  Place less specific matches earlier in the file
#   and more specific matches later.
#
#   Be sure to add new entries in the area they belong, denoted by the
#   header wrapped in "#" characters. (e.g. SDK, EngSys, Management)
# -----------------------------------------------------------------

##################
# Repository root
##################

# Catch all for loose files in the root, which are mostly global configuration and
# should not be changed without team discussion.
/*                       @heaths @RickWinter @ronniegeraghty @LarryOsterman

# Catch all for non-code project files and unowned files | folders
/**                      @heaths @RickWinter @ronniegeraghty @LarryOsterman

# Allow service owners to approve crate version updates, which impact Cargo.lock
/Cargo.lock

##################
# Automation
##################

# GitHub integration and bot rules
/.github/                @heaths @RickWinter @ronniegeraghty @LarryOsterman

###########
# SDK
###########
# Catch all
/sdk/                    @heaths @RickWinter @ronniegeraghty @LarryOsterman

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @heaths @RickWinter @LarryOsterman

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @heaths @RickWinter @LarryOsterman @chlowell

####################
# Client Libraries
####################

# PRLabel: %Cosmos
/sdk/cosmos/             @analogrelay @Pilchie @kirankumarkolli @tvaron3 @FabianMeiswinkel @kundadebdatta @nehrao1 @kushagraThapar

# ServiceLabel: %Cosmos
# AzureSDKOwners: @heaths
# ServiceOwners: @Pilchie

# PRLabel: %KeyVault
/sdk/keyvault/           @Azure/azure-sdk-write-keyvault @heaths

# ServiceLabel: %KeyVault
# ServiceOwners: @Azure/azure-sdk-write-keyvault

# PRLabel: %Storage
/sdk/storage/            @heaths @RickWinter @LarryOsterman @vincenttran-msft @jalauzon-msft

# ServiceLabel: %Storage
# AzureSDKOwners: @vincenttran-msft @jalauzon-msft

####################
# Management Libraries
####################

###########
# Eng Sys
###########
/eng/                    @hallipr @weshaggard @heaths @RickWinter
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @RickWinter @ronniegeraghty @Azure/azure-sdk-eng
/.config/1espt/          @benbp @weshaggard
/sdk/template/			 @hallipr

# Add owners for notifications for specific pipelines
/eng/common/pipelines/codeowners-linter.yml       @rickwinter

Remove parity features
  Cargo.lock
  Cargo.toml
  sdk/core/azure_core/Cargo.toml
  sdk/identity/azure_identity/Cargo.toml
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/src/http/clients/mod.rs
  sdk/typespec/typespec_macros/tests/data/safe-debug-tests/Cargo.lock
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman, @chlowell

Default to gzip, deflate
  Cargo.lock
  Cargo.toml
  sdk/core/azure_core/Cargo.toml
  sdk/identity/azure_identity/Cargo.toml
  sdk/typespec/typespec_client_core/Cargo.toml
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman, @chlowell

Forward default features to azure_core/default
  sdk/core/azure_core/Cargo.toml
  sdk/identity/azure_identity/Cargo.toml
  sdk/keyvault/azure_security_keyvault_secrets/Cargo.toml
  sdk/typespec/typespec_client_core/Cargo.toml
Owners: @heaths, @RickWinter, @LarryOsterman, @chlowell, @Azure/azure-sdk-write-keyvault, @ronniegeraghty

Add source_auth test scenario and public access
  sdk/storage/azure_storage_blob/assets.json
  sdk/storage/azure_storage_blob/src/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/tests/append_blob_client.rs
  sdk/storage/azure_storage_blob/tests/block_blob_client.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

reuse test credential instead of spinning up unique one
  sdk/storage/azure_storage_blob/assets.json
  sdk/storage/azure_storage_blob/tests/block_blob_client.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Add gzip, deflate features back in
  .vscode/cspell.json
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core/README.md
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/README.md
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Add default parity feature to remaining crates
  sdk/core/azure_core_opentelemetry/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/Cargo.toml
  sdk/keyvault/azure_security_keyvault_certificates/Cargo.toml
  sdk/keyvault/azure_security_keyvault_keys/Cargo.toml
  sdk/storage/azure_storage_blob/Cargo.toml
Owners: @heaths, @RickWinter, @LarryOsterman, @ronniegeraghty, @Azure/azure-sdk-write-keyvault, @vincenttran-msft, @jalauzon-msft

make instructions more specific
  .github/copilot-instructions.md
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Allow use of other TLS implementations for eventhubs
  Cargo.toml
  sdk/core/azure_core_amqp/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs/Cargo.toml
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Added servicebus
  sdk/servicebus/azure_messaging_servicebus/Cargo.toml
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Update eng/common/instructions/azsdk-tools/validate-codeowners.instructions.md
  eng/common/instructions/azsdk-tools/validate-codeowners.instructions.md
Owners: @Azure/azure-sdk-eng

prompt files for labels and codeowners
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-codeowners.instructions.md
  eng/common/instructions/azsdk-tools/validate-service-label.instruction.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

specified which PRs to display
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/validate-service-label.instruction.md
  eng/common/instructions/azsdk-tools/validate-service-label.instruction.md
Owners: @Azure/azure-sdk-eng

changed guidance to the documentation
  eng/common/instructions/azsdk-tools/validate-codeowners.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

changed NotAServiceLabel line
  eng/common/instructions/azsdk-tools/validate-service-label.instruction.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/validate-service-label.instruction.md
  eng/common/instructions/azsdk-tools/validate-service-label.instruction.md
Owners: @Azure/azure-sdk-eng

Add Powershell Installation Instructions for Copilot (#2928)
  .github/copilot-instructions.md
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Sync eng/common directory with azure-sdk-tools for PR 11802 (#2940)
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-codeowners.instructions.md
  eng/common/instructions/azsdk-tools/validate-service-label.instruction.md
Owners: @Azure/azure-sdk-eng

Remove parity features (#2933)
  .vscode/cspell.json
  Cargo.lock
  Cargo.toml
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core/README.md
  sdk/core/azure_core_opentelemetry/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/Cargo.toml
  sdk/identity/azure_identity/Cargo.toml
  sdk/keyvault/azure_security_keyvault_certificates/Cargo.toml
  sdk/keyvault/azure_security_keyvault_keys/Cargo.toml
  sdk/keyvault/azure_security_keyvault_secrets/Cargo.toml
  sdk/storage/azure_storage_blob/Cargo.toml
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/README.md
  sdk/typespec/typespec_client_core/src/http/clients/mod.rs
  sdk/typespec/typespec_macros/tests/data/safe-debug-tests/Cargo.lock
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman, @chlowell, @Azure/azure-sdk-write-keyvault, @vincenttran-msft, @jalauzon-msft

PR feedback, update to match REST docs spec
  sdk/storage/azure_storage_blob/assets.json
  sdk/storage/azure_storage_blob/src/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/tests/block_blob_client.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

nitg
  sdk/storage/azure_storage_blob/src/clients/block_blob_client.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Working parser PoC"
  sdk/storage/azure_storage_blob/tests/blob_client.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

nit
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Regenerate against feature/blob-tsp-rust branch
  sdk/storage/azure_storage_blob/tsp-location.yaml
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Add alternative HTTP client configuration docs
  .vscode/cspell.json
  Cargo.lock
  eng/dict/crates.txt
  eng/scripts/verify-dependencies.rs
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core/README.md
  sdk/core/azure_core/examples/core_ureq_client.rs
  sdk/typespec/typespec_client_core/CHANGELOG.md
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman, @hallipr, @weshaggard

Make sure the root README is tests
  README.md
  sdk/core/azure_core_test/src/docs/mod.rs
  sdk/core/azure_core_test/src/docs/root_readme.rs
  sdk/core/azure_core_test/src/lib.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Make sure the root README is tested (#2947)
  README.md
  sdk/core/azure_core_test/src/docs/mod.rs
  sdk/core/azure_core_test/src/docs/root_readme.rs
  sdk/core/azure_core_test/src/lib.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Update API review conditions for client and mgmt packages
  eng/common/scripts/Create-APIReview.ps1
Owners: @Azure/azure-sdk-eng

Update Create-APIReview.ps1
  eng/common/scripts/Create-APIReview.ps1
Owners: @Azure/azure-sdk-eng

[Storage] `upload_blob_from_url` for BlobClient (#2936)
  sdk/storage/azure_storage_blob/assets.json
  sdk/storage/azure_storage_blob/src/clients/append_blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/page_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/header_traits.rs
  sdk/storage/azure_storage_blob/src/generated/models/method_options.rs
  sdk/storage/azure_storage_blob/src/generated/models/pub_models.rs
  sdk/storage/azure_storage_blob/src/models/extensions.rs
  sdk/storage/azure_storage_blob/src/models/mod.rs
  sdk/storage/azure_storage_blob/tests/append_blob_client.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
  sdk/storage/azure_storage_blob/tests/blob_container_client.rs
  sdk/storage/azure_storage_blob/tests/block_blob_client.rs
  sdk/storage/azure_storage_blob/tests/page_blob_client.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
  sdk/storage/azure_storage_blob_test/src/lib.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Resolve PR feedback, lint
  sdk/core/azure_core/README.md
Owners: @heaths, @RickWinter, @LarryOsterman

Re_factor
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Don't start test broker on macos
  sdk/core/azure_core_amqp/Test-Cleanup.ps1
  sdk/core/azure_core_amqp/Test-Setup.ps1
Owners: @heaths, @RickWinter, @LarryOsterman

Add alternative HTTP client configuration docs (#2946)
  .vscode/cspell.json
  Cargo.lock
  eng/dict/crates.txt
  eng/scripts/verify-dependencies.rs
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core/README.md
  sdk/core/azure_core/examples/core_ureq_client.rs
  sdk/typespec/typespec_client_core/CHANGELOG.md
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman, @hallipr, @weshaggard

Don't start test broker on macos (#2948)
  sdk/core/azure_core_amqp/Test-Cleanup.ps1
  sdk/core/azure_core_amqp/Test-Setup.ps1
Owners: @heaths, @RickWinter, @LarryOsterman

Revert "change file name to .instructions.md"
  eng/common/instructions/azsdk-tools/validate-service-label.instruction.md
Owners: @Azure/azure-sdk-eng

change file name to .instructions.md
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Owners: @Azure/azure-sdk-eng
