Repository Azure/azure-sdk-for-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman, @chlowell, @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @nehrao1, @kushagraThapar, @Azure/azure-sdk-write-keyvault, @vincenttran-msft, @jalauzon-msft, @hallipr, @weshaggard, @Azure/azure-sdk-eng, @benbp, @rickwinter

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

# -----------------------------------------------------------------
# IMPORTANT NOTE:
#   The ordering of "ServiceLabel" blocks is important!
#
#   Matching takes place from bottom-to-top and will stop after the
#   first match.  Place less specific matches earlier in the file
#   and more specific matches later.
#
#   Be sure to add new entries in the area they belong, denoted by the
#   header wrapped in "#" characters. (e.g. SDK, EngSys, Management)
# -----------------------------------------------------------------

##################
# Repository root
##################

# Catch all for loose files in the root, which are mostly global configuration and
# should not be changed without team discussion.
/*                       @heaths @RickWinter @ronniegeraghty @LarryOsterman

# Catch all for non-code project files and unowned files | folders
/**                      @heaths @RickWinter @ronniegeraghty @LarryOsterman

# Allow service owners to approve crate version updates, which impact Cargo.lock
/Cargo.lock

##################
# Automation
##################

# GitHub integration and bot rules
/.github/                @heaths @RickWinter @ronniegeraghty @LarryOsterman

###########
# SDK
###########
# Catch all
/sdk/                    @heaths @RickWinter @ronniegeraghty @LarryOsterman

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @heaths @RickWinter @LarryOsterman

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @heaths @RickWinter @LarryOsterman @chlowell

####################
# Client Libraries
####################

# PRLabel: %Cosmos
/sdk/cosmos/             @analogrelay @Pilchie @kirankumarkolli @tvaron3 @FabianMeiswinkel @kundadebdatta @nehrao1 @kushagraThapar

# ServiceLabel: %Cosmos
# AzureSDKOwners: @heaths
# ServiceOwners: @Pilchie

# PRLabel: %KeyVault
/sdk/keyvault/           @Azure/azure-sdk-write-keyvault @heaths

# ServiceLabel: %KeyVault
# ServiceOwners: @Azure/azure-sdk-write-keyvault

# PRLabel: %Storage
/sdk/storage/            @heaths @RickWinter @LarryOsterman @vincenttran-msft @jalauzon-msft

# ServiceLabel: %Storage
# AzureSDKOwners: @vincenttran-msft @jalauzon-msft

####################
# Management Libraries
####################

###########
# Eng Sys
###########
/eng/                    @hallipr @weshaggard @heaths @RickWinter
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @RickWinter @ronniegeraghty @Azure/azure-sdk-eng
/.config/1espt/          @benbp @weshaggard
/sdk/template/			 @hallipr

# Add owners for notifications for specific pipelines
/eng/common/pipelines/codeowners-linter.yml       @rickwinter

Undid copilot nuttiness
  sdk/core/azure_core_opentelemetry/tests/telemetry_service_implementation.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/mod.rs
  sdk/typespec/typespec_client_core/src/http/policies/transport.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @ronniegeraghty

Fixed test break
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_produce_events.rs
  sdk/typespec/typespec_client_core/src/http/sanitizer.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

CSpell fixes
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/examples/checkpoint_store_basic.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

log request/response at info level not trace level
  sdk/typespec/typespec_client_core/src/http/policies/logging.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Updated changelog; addressed PR feedback
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/src/http/policies/instrumentation/request_instrumentation.rs
  sdk/core/azure_core_opentelemetry/tests/telemetry_service_implementation.rs
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/examples/checkpoint_store_basic.rs
  sdk/typespec/typespec_client_core/src/http/headers/mod.rs
  sdk/typespec/typespec_client_core/src/http/options/mod.rs
  sdk/typespec/typespec_client_core/src/http/policies/logging.rs
  sdk/typespec/typespec_client_core/src/http/sanitizer.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @ronniegeraghty

Apply suggestions from code review
  sdk/core/azure_core/CHANGELOG.md
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/examples/checkpoint_store_basic.rs
  sdk/typespec/typespec_client_core/src/http/policies/logging.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @ronniegeraghty

PR feedback
  sdk/typespec/typespec_client_core/src/http/sanitizer.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Made RETRY_AFTER header public
  sdk/typespec/typespec_client_core/src/http/headers/common.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Add a Logging policy with sanitized HTTP headers and URLs (#2955)
  Cargo.lock
  eng/scripts/verify-dependencies.rs
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/README.md
  sdk/core/azure_core/src/http/options/mod.rs
  sdk/core/azure_core/src/http/pipeline.rs
  sdk/core/azure_core/src/http/policies/instrumentation/public_api_instrumentation.rs
  sdk/core/azure_core/src/http/policies/instrumentation/request_instrumentation.rs
  sdk/core/azure_core_opentelemetry/tests/telemetry_service_implementation.rs
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/examples/checkpoint_store_basic.rs
  sdk/typespec/typespec_client_core/src/http/clients/reqwest.rs
  sdk/typespec/typespec_client_core/src/http/headers/common.rs
  sdk/typespec/typespec_client_core/src/http/headers/microsoft.rs
  sdk/typespec/typespec_client_core/src/http/headers/mod.rs
  sdk/typespec/typespec_client_core/src/http/mod.rs
  sdk/typespec/typespec_client_core/src/http/options/mod.rs
  sdk/typespec/typespec_client_core/src/http/pipeline.rs
  sdk/typespec/typespec_client_core/src/http/policies/logging.rs
  sdk/typespec/typespec_client_core/src/http/policies/mod.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/mod.rs
  sdk/typespec/typespec_client_core/src/http/policies/transport.rs
  sdk/typespec/typespec_client_core/src/http/request/mod.rs
  sdk/typespec/typespec_client_core/src/http/sanitizer.rs
Owners: @hallipr, @weshaggard, @heaths, @RickWinter, @LarryOsterman, @ronniegeraghty

Retry policy headers is enabled on the RetryOptions, not the pipeline
  sdk/core/azure_core/src/http/pipeline.rs
  sdk/core/azure_core/src/http/poller.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/clients.rs
  sdk/typespec/typespec_client_core/src/http/options/retry.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/exponential.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/fixed.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/mod.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @Azure/azure-sdk-write-keyvault, @ronniegeraghty

Removed all Azure specific HTTP headers from typespec_client_core
  sdk/core/azure_core/src/http/headers.rs
  sdk/core/azure_core/src/http/pipeline.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/clients/certificate_client.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/clients/key_client.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/clients/secret_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/append_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/page_blob_client.rs
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_client_core/src/error/http_error.rs
  sdk/typespec/typespec_client_core/src/http/headers/microsoft.rs
  sdk/typespec/typespec_client_core/src/http/headers/mod.rs
  sdk/typespec/typespec_client_core/src/http/options/retry.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/exponential.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/fixed.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/mod.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/none.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @Azure/azure-sdk-write-keyvault, @vincenttran-msft, @jalauzon-msft, @ronniegeraghty

Removed Azure headers which aren't currently being used
  sdk/core/azure_core/src/http/headers.rs
Owners: @heaths, @RickWinter, @LarryOsterman

Apply suggestions from code review
  sdk/typespec/typespec_client_core/src/http/policies/retry/exponential.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/none.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Merge error
  sdk/core/azure_core/src/http/mod.rs
Owners: @heaths, @RickWinter, @LarryOsterman

Sorted headers
  sdk/core/azure_core/src/http/headers.rs
Owners: @heaths, @RickWinter, @LarryOsterman

Added details to breaking change
  sdk/typespec/typespec_client_core/CHANGELOG.md
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Removed more header conditions
  sdk/typespec/typespec_client_core/src/http/headers/common.rs
  sdk/typespec/typespec_client_core/src/http/request/options/content_length.rs
  sdk/typespec/typespec_client_core/src/http/request/options/if_match_condition.rs
  sdk/typespec/typespec_client_core/src/http/request/options/if_modified_since.rs
  sdk/typespec/typespec_client_core/src/http/request/options/if_modified_since_condition.rs
  sdk/typespec/typespec_client_core/src/http/request/options/mod.rs
  sdk/typespec/typespec_client_core/src/lib.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Removed line accidentally added
  sdk/typespec/typespec_client_core/src/lib.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Added rustdoc comment to with_retry_after_headers
  sdk/typespec/typespec_client_core/src/http/options/retry.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Removed merge confusion
  sdk/core/azure_core/src/http/mod.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/clients/certificate_client.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/clients/key_client.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/clients/secret_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_service_client.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @Azure/azure-sdk-write-keyvault, @vincenttran-msft, @jalauzon-msft

Refactor RequestContent conversion for Spector (#2957)
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core_test/src/proxy/models.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/models/models_impl.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/models/models_impl.rs
  sdk/keyvault/azure_security_keyvault_keys/tests/key_client.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/models/models_impl.rs
  sdk/keyvault/azure_security_keyvault_secrets/tests/secret_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/models_impl.rs
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_client_core/src/http/request/mod.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @Azure/azure-sdk-write-keyvault, @vincenttran-msft, @jalauzon-msft, @ronniegeraghty

Adds Spin runtime and HTTP backend for WASI p2
  .vscode/tasks.json
  Cargo.lock
  Cargo.toml
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/Cargo.toml
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/src/async_runtime/mod.rs
  sdk/typespec/typespec_client_core/src/http/clients/mod.rs
  sdk/typespec/typespec_client_core/src/http/clients/spin.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Scopes spin backend to wasm32-wasip2
  sdk/core/azure_core/Cargo.toml
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/src/async_runtime/mod.rs
  sdk/typespec/typespec_client_core/src/http/clients/mod.rs
  sdk/typespec/typespec_client_core/src/http/clients/spin.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @ronniegeraghty

undo tasks.json
  .vscode/tasks.json
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

remove warnings with cfg-if
  Cargo.lock
  Cargo.toml
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/src/async_runtime/mod.rs
  sdk/typespec/typespec_client_core/src/http/clients/mod.rs
  sdk/typespec/typespec_client_core/src/http/clients/noop.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

current output
  sdk/storage/azure_storage_blob/src/generated/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/models_impl.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Unwrap error example
  sdk/identity/azure_identity/examples/identity_source_error.rs
  sdk/identity/azure_identity/src/client_secret_credential.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @chlowell
