Repository Azure/azure-sdk-for-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman, @chlowell, @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @nehrao1, @kushagraThapar, @Azure/azure-sdk-write-keyvault, @vincenttran-msft, @jalauzon-msft, @hallipr, @weshaggard, @Azure/azure-sdk-eng, @benbp, @rickwinter

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

# -----------------------------------------------------------------
# IMPORTANT NOTE:
#   The ordering of "ServiceLabel" blocks is important!
#
#   Matching takes place from bottom-to-top and will stop after the
#   first match.  Place less specific matches earlier in the file
#   and more specific matches later.
#
#   Be sure to add new entries in the area they belong, denoted by the
#   header wrapped in "#" characters. (e.g. SDK, EngSys, Management)
# -----------------------------------------------------------------

##################
# Repository root
##################

# Catch all for loose files in the root, which are mostly global configuration and
# should not be changed without team discussion.
/*                       @heaths @RickWinter @ronniegeraghty @LarryOsterman

# Catch all for non-code project files and unowned files | folders
/**                      @heaths @RickWinter @ronniegeraghty @LarryOsterman

# Allow service owners to approve crate version updates, which impact Cargo.lock
/Cargo.lock

##################
# Automation
##################

# GitHub integration and bot rules
/.github/                @heaths @RickWinter @ronniegeraghty @LarryOsterman

###########
# SDK
###########
# Catch all
/sdk/                    @heaths @RickWinter @ronniegeraghty @LarryOsterman

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @heaths @RickWinter @LarryOsterman

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @heaths @RickWinter @LarryOsterman @chlowell

####################
# Client Libraries
####################

# PRLabel: %Cosmos
/sdk/cosmos/             @analogrelay @Pilchie @kirankumarkolli @tvaron3 @FabianMeiswinkel @kundadebdatta @nehrao1 @kushagraThapar

# ServiceLabel: %Cosmos
# AzureSDKOwners: @heaths
# ServiceOwners: @Pilchie

# PRLabel: %KeyVault
/sdk/keyvault/           @Azure/azure-sdk-write-keyvault @heaths

# ServiceLabel: %KeyVault
# ServiceOwners: @Azure/azure-sdk-write-keyvault

# PRLabel: %Storage
/sdk/storage/            @heaths @RickWinter @LarryOsterman @vincenttran-msft @jalauzon-msft

# ServiceLabel: %Storage
# AzureSDKOwners: @vincenttran-msft @jalauzon-msft

####################
# Management Libraries
####################

###########
# Eng Sys
###########
/eng/                    @hallipr @weshaggard @heaths @RickWinter
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @RickWinter @ronniegeraghty @Azure/azure-sdk-eng
/.config/1espt/          @benbp @weshaggard
/sdk/template/			 @hallipr

# Add owners for notifications for specific pipelines
/eng/common/pipelines/codeowners-linter.yml       @rickwinter

Regen against feature branch
  sdk/storage/azure_storage_blob/src/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/header_traits.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Sync eng/common directory with azure-sdk-tools for PR 11741 (#2929)
  eng/common/pipelines/templates/steps/mark-release-completion.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

[Storage] Make `metadata` a parameter for `set_metadata` API, StorageServiceProperties renamed to BlobServiceProperties (#2919)
  sdk/storage/azure_storage_blob/src/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/src/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/method_options.rs
  sdk/storage/azure_storage_blob/src/generated/models/models_impl.rs
  sdk/storage/azure_storage_blob/src/generated/models/pub_models.rs
  sdk/storage/azure_storage_blob/src/models/mod.rs
  sdk/storage/azure_storage_blob/tests/blob_container_client.rs
  sdk/storage/azure_storage_blob/tests/blob_service_client.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

PR feedback
  sdk/core/azure_core/benches/http_transport_benchmarks.rs
  sdk/keyvault/azure_security_keyvault_keys/benches/benchmarks.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @Azure/azure-sdk-write-keyvault

Disabled AMQP connection tests on OSX
  sdk/core/azure_core_amqp/src/connection.rs
Owners: @heaths, @RickWinter, @LarryOsterman

FIxed RustDoc errors
  sdk/core/azure_core/README.md
Owners: @heaths, @RickWinter, @LarryOsterman

Update sdk/core/azure_core_amqp/src/connection.rs
  sdk/core/azure_core_amqp/src/connection.rs
Owners: @heaths, @RickWinter, @LarryOsterman

Update sdk/core/azure_core_amqp/src/connection.rs
  sdk/core/azure_core_amqp/src/connection.rs
Owners: @heaths, @RickWinter, @LarryOsterman

Disabled perf tests on macOs because macos cannot access azurewebsites.net
  sdk/core/azure_core/benches/http_transport_benchmarks.rs
Owners: @heaths, @RickWinter, @LarryOsterman

More macos disabling
  sdk/core/azure_core/benches/http_transport_benchmarks.rs
Owners: @heaths, @RickWinter, @LarryOsterman

Service Bus improvements
  sdk/servicebus/azure_messaging_servicebus/src/clients/mod.rs
  sdk/servicebus/azure_messaging_servicebus/src/clients/servicebus_client.rs
  sdk/servicebus/azure_messaging_servicebus/src/error.rs
  sdk/servicebus/azure_messaging_servicebus/src/lib.rs
  sdk/servicebus/azure_messaging_servicebus/src/receiver.rs
  sdk/servicebus/azure_messaging_servicebus/src/sender.rs
  sdk/servicebus/azure_messaging_servicebus/test-resources-pre.ps1
  sdk/servicebus/test-resources-post.ps1
  sdk/servicebus/test-resources.bicep
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

put_blob_from_url, basic test suite, no recordings
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/models/extensions.rs
  sdk/storage/azure_storage_blob/src/models/mod.rs
  sdk/storage/azure_storage_blob/tests/append_blob_client.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
  sdk/storage/azure_storage_blob/tests/blob_container_client.rs
  sdk/storage/azure_storage_blob_test/src/lib.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Audit all currently implemented APIs options bags
  sdk/storage/azure_storage_blob/src/models/mod.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Re-enable HTTP connection pooling (#2927)
  Cargo.lock
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core/README.md
  sdk/core/azure_core/benches/benchmarks.rs
  sdk/core/azure_core/benches/http_transport_benchmarks.rs
  sdk/keyvault/azure_security_keyvault_keys/Cargo.toml
  sdk/keyvault/azure_security_keyvault_keys/benches/benchmarks.rs
  sdk/typespec/typespec_client_core/src/http/clients/reqwest.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @Azure/azure-sdk-write-keyvault, @ronniegeraghty

Fix up clippy failures
  sdk/servicebus/azure_messaging_servicebus/src/error.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Regenerate against .tsp
  sdk/storage/azure_storage_blob/src/generated/models/header_traits.rs
  sdk/storage/azure_storage_blob/src/generated/models/pub_models.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Disabled AMQP connection tests on OSX (#2930)
  sdk/core/azure_core_amqp/src/connection.rs
Owners: @heaths, @RickWinter, @LarryOsterman

Add a file that helps configure OpenSSL for running clippy
  eng/scripts/setup-openssl-env.ps1
Owners: @hallipr, @weshaggard, @heaths, @RickWinter

URL in documentation nit
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Construction of the Error is internal to the crate.
  eng/scripts/setup-openssl-env.ps1
  sdk/servicebus/azure_messaging_servicebus/src/error.rs
Owners: @hallipr, @weshaggard, @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

`create_async_runtime`: Make `cfg` checks exhaustive
  sdk/typespec/typespec_client_core/src/async_runtime/mod.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

remove return
  sdk/typespec/typespec_client_core/src/async_runtime/mod.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

update
  sdk/typespec/typespec_client_core/src/async_runtime/mod.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Update eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Remove order by
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

.NET requires custom source path since source path contains dev tools repo
  eng/common/pipelines/templates/steps/mark-release-completion.yml
Owners: @Azure/azure-sdk-eng

Fix wiql issue in getting release plan work items
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 11745 (#2932)
  eng/common/pipelines/templates/steps/mark-release-completion.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Make copilot instructions more specific
  .github/copilot-instructions.md
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Update changelog parsing to round-trip header
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @Azure/azure-sdk-eng

Add doc_auto_cfg to all crates
  sdk/keyvault/azure_security_keyvault_certificates/src/lib.rs
  sdk/keyvault/azure_security_keyvault_keys/src/lib.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/lib.rs
  sdk/storage/azure_storage_blob/src/lib.rs
  sdk/typespec/typespec_macros/src/lib.rs
Owners: @Azure/azure-sdk-write-keyvault, @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft, @ronniegeraghty

Updated as per review comments
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Owners: @Azure/azure-sdk-eng

Updated as per review comments
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Owners: @Azure/azure-sdk-eng

Update package release status completion to process multiple packages
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 11801 (#2939)
  eng/common/scripts/ChangeLog-Operations.ps1
Owners: @Azure/azure-sdk-eng

Update troublehsooting for core READMEs
  sdk/core/azure_core/README.md
  sdk/typespec/typespec_client_core/README.md
  sdk/typespec/typespec_client_core/src/http/clients/reqwest.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @ronniegeraghty

Sync eng/common directory with azure-sdk-tools for PR 11807 (#2942)
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Owners: @Azure/azure-sdk-eng

Update troubleshooting for core READMEs (#2943)
  sdk/core/azure_core/README.md
  sdk/typespec/typespec_client_core/README.md
  sdk/typespec/typespec_client_core/src/http/clients/reqwest.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @ronniegeraghty

Add doc_auto_cfg to all crates (#2941)
  sdk/keyvault/azure_security_keyvault_certificates/src/lib.rs
  sdk/keyvault/azure_security_keyvault_keys/src/lib.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/lib.rs
  sdk/storage/azure_storage_blob/src/lib.rs
  sdk/typespec/typespec_macros/src/lib.rs
Owners: @Azure/azure-sdk-write-keyvault, @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft, @ronniegeraghty

Move to BlockBlobClient, rename to upload_blob_from_url, with_if_not_exists no Trait, swap test parameter ordering
  sdk/storage/azure_storage_blob/src/clients/append_blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/page_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/header_traits.rs
  sdk/storage/azure_storage_blob/src/generated/models/method_options.rs
  sdk/storage/azure_storage_blob/src/generated/models/pub_models.rs
  sdk/storage/azure_storage_blob/src/models/extensions.rs
  sdk/storage/azure_storage_blob/src/models/mod.rs
  sdk/storage/azure_storage_blob/tests/append_blob_client.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
  sdk/storage/azure_storage_blob/tests/blob_container_client.rs
  sdk/storage/azure_storage_blob/tests/block_blob_client.rs
  sdk/storage/azure_storage_blob/tests/page_blob_client.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
  sdk/storage/azure_storage_blob_test/src/lib.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft
