Repository Azure/azure-sdk-for-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman, @chlowell, @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @nehrao1, @kushagraThapar, @Azure/azure-sdk-write-keyvault, @vincenttran-msft, @jalauzon-msft, @hallipr, @weshaggard, @Azure/azure-sdk-eng, @benbp, @rickwinter

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

# -----------------------------------------------------------------
# IMPORTANT NOTE:
#   The ordering of "ServiceLabel" blocks is important!
#
#   Matching takes place from bottom-to-top and will stop after the
#   first match.  Place less specific matches earlier in the file
#   and more specific matches later.
#
#   Be sure to add new entries in the area they belong, denoted by the
#   header wrapped in "#" characters. (e.g. SDK, EngSys, Management)
# -----------------------------------------------------------------

##################
# Repository root
##################

# Catch all for loose files in the root, which are mostly global configuration and
# should not be changed without team discussion.
/*                       @heaths @RickWinter @ronniegeraghty @LarryOsterman

# Catch all for non-code project files and unowned files | folders
/**                      @heaths @RickWinter @ronniegeraghty @LarryOsterman

# Allow service owners to approve crate version updates, which impact Cargo.lock
/Cargo.lock

##################
# Automation
##################

# GitHub integration and bot rules
/.github/                @heaths @RickWinter @ronniegeraghty @LarryOsterman

###########
# SDK
###########
# Catch all
/sdk/                    @heaths @RickWinter @ronniegeraghty @LarryOsterman

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @heaths @RickWinter @LarryOsterman

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @heaths @RickWinter @LarryOsterman @chlowell

####################
# Client Libraries
####################

# PRLabel: %Cosmos
/sdk/cosmos/             @analogrelay @Pilchie @kirankumarkolli @tvaron3 @FabianMeiswinkel @kundadebdatta @nehrao1 @kushagraThapar

# ServiceLabel: %Cosmos
# AzureSDKOwners: @heaths
# ServiceOwners: @Pilchie

# PRLabel: %KeyVault
/sdk/keyvault/           @Azure/azure-sdk-write-keyvault @heaths

# ServiceLabel: %KeyVault
# ServiceOwners: @Azure/azure-sdk-write-keyvault

# PRLabel: %Storage
/sdk/storage/            @heaths @RickWinter @LarryOsterman @vincenttran-msft @jalauzon-msft

# ServiceLabel: %Storage
# AzureSDKOwners: @vincenttran-msft @jalauzon-msft

####################
# Management Libraries
####################

###########
# Eng Sys
###########
/eng/                    @hallipr @weshaggard @heaths @RickWinter
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @RickWinter @ronniegeraghty @Azure/azure-sdk-eng
/.config/1espt/          @benbp @weshaggard
/sdk/template/			 @hallipr

# Add owners for notifications for specific pipelines
/eng/common/pipelines/codeowners-linter.yml       @rickwinter

Add parser that is context aware, remove sort in prod code
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/models/extensions.rs
  sdk/storage/azure_storage_blob/src/parsers.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Revert, unit test flag
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/parsers.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Update release plan completion script to take package info file
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Owners: @Azure/azure-sdk-eng

Take only info file path as param
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 11726 (#2918)
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Owners: @Azure/azure-sdk-eng

typespec_client_core: Use `gloo_timers::future::sleep` to impl `sleep` when target wasm
  Cargo.lock
  Cargo.toml
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/src/http/policies/retry/mod.rs
  sdk/typespec/typespec_client_core/src/sleep.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

pass build
  sdk/typespec/typespec_client_core/src/sleep.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

dont unwrap
  sdk/typespec/typespec_client_core/src/sleep.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

clean up cargo.toml
  Cargo.toml
  sdk/typespec/typespec_client_core/Cargo.toml
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

fix warning
  sdk/typespec/typespec_client_core/src/sleep.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

minor
  sdk/typespec/typespec_client_core/src/sleep.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Define a web_runtime instead of conditionally implement sleep
  Cargo.lock
  Cargo.toml
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/src/async_runtime/mod.rs
  sdk/typespec/typespec_client_core/src/async_runtime/standard_runtime.rs
  sdk/typespec/typespec_client_core/src/async_runtime/web_runtime.rs
  sdk/typespec/typespec_client_core/src/sleep.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

clippy
  sdk/typespec/typespec_client_core/src/async_runtime/standard_runtime.rs
  sdk/typespec/typespec_client_core/src/async_runtime/web_runtime.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

improve `spawn`
  sdk/typespec/typespec_client_core/src/async_runtime/web_runtime.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

correct error handling
  sdk/typespec/typespec_client_core/src/async_runtime/web_runtime.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Fixed build break
  sdk/typespec/typespec_client_core/src/async_runtime/mod.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

introduce feature wasm-bindgen
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/src/async_runtime/mod.rs
  sdk/typespec/typespec_client_core/src/async_runtime/web_runtime.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Fixed clippy error
  sdk/typespec/typespec_client_core/src/async_runtime/mod.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Added gloo to crates.txt
  eng/dict/crates.txt
Owners: @hallipr, @weshaggard, @heaths, @RickWinter

test
  Cargo.lock
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/src/async_runtime/tests.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Update sdk/typespec/typespec_client_core/src/async_runtime/web_runtime.rs
  sdk/typespec/typespec_client_core/src/async_runtime/web_runtime.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Update sdk/typespec/typespec_client_core/src/async_runtime/mod.rs
  sdk/typespec/typespec_client_core/src/async_runtime/mod.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Update sdk/typespec/typespec_client_core/src/async_runtime/web_runtime.rs
  sdk/typespec/typespec_client_core/src/async_runtime/web_runtime.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Rebase and fix up
  Cargo.toml
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/src/async_runtime/mod.rs
  sdk/typespec/typespec_client_core/src/async_runtime/tests.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/mod.rs
  sdk/typespec/typespec_client_core/src/sleep.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Use BodilessMatcher
  sdk/storage/azure_storage_blob/src/models/extensions.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Update docs and tests
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/src/async_runtime/mod.rs
  sdk/typespec/typespec_client_core/src/fmt.rs
  sdk/typespec/typespec_client_core/src/time/mod.rs
  sdk/typespec/typespec_client_core/src/time/unix_time.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

[Identity] Add --no-prompt flag to AzureDeveloperCliCredential to prevent hanging with AZD_DEBUG (#2914)
  sdk/identity/azure_identity/src/azure_developer_cli_credential.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @chlowell

[Storage] `get_account_info` all clients, `set/get_tags` for BlobClient, `set_properties` for BlobServiceClient (#2795)
  sdk/storage/azure_storage_blob/assets.json
  sdk/storage/azure_storage_blob/src/clients/append_blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/src/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/page_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/header_traits.rs
  sdk/storage/azure_storage_blob/src/generated/models/pub_models.rs
  sdk/storage/azure_storage_blob/src/models/extensions.rs
  sdk/storage/azure_storage_blob/src/models/mod.rs
  sdk/storage/azure_storage_blob/src/parsers.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
  sdk/storage/azure_storage_blob/tests/blob_container_client.rs
  sdk/storage/azure_storage_blob/tests/blob_service_client.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

re-enable HTTP connection pooling
  Cargo.lock
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core/README.md
  sdk/core/azure_core/benches/benchmarks.rs
  sdk/core/azure_core/benches/http_transport_benchmarks.rs
  sdk/typespec/typespec_client_core/src/http/clients/reqwest.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @ronniegeraghty

typespec_client_core: New `web_runtime` to support wasm32-unknown-unknown (#2838)
  Cargo.lock
  Cargo.toml
  eng/dict/crates.txt
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/src/async_runtime/mod.rs
  sdk/typespec/typespec_client_core/src/async_runtime/standard_runtime.rs
  sdk/typespec/typespec_client_core/src/async_runtime/tests.rs
  sdk/typespec/typespec_client_core/src/async_runtime/web_runtime.rs
  sdk/typespec/typespec_client_core/src/fmt.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/mod.rs
  sdk/typespec/typespec_client_core/src/sleep.rs
  sdk/typespec/typespec_client_core/src/time/mod.rs
  sdk/typespec/typespec_client_core/src/time/unix_time.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman, @hallipr, @weshaggard

Required metadata for set_metadata, StorageServiceProperties -> BlobServiceProperties
  sdk/storage/azure_storage_blob/src/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/src/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/header_traits.rs
  sdk/storage/azure_storage_blob/src/generated/models/method_options.rs
  sdk/storage/azure_storage_blob/src/generated/models/models_impl.rs
  sdk/storage/azure_storage_blob/src/generated/models/pub_models.rs
  sdk/storage/azure_storage_blob/src/models/mod.rs
  sdk/storage/azure_storage_blob/tests/blob_container_client.rs
  sdk/storage/azure_storage_blob/tests/blob_service_client.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

nit
  sdk/storage/azure_storage_blob/tests/blob_container_client.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Fix PR feedback for readme
  sdk/servicebus/azure_messaging_servicebus/README.md
  sdk/servicebus/azure_messaging_servicebus/tests/README.md
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Cleanup docs
  sdk/servicebus/azure_messaging_servicebus/CONTRIBUTING.md
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Fix XML element name
  sdk/storage/azure_storage_blob/src/generated/models/pub_models.rs
  sdk/storage/azure_storage_blob/tests/blob_service_client.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Added issue #2901 test cases to keyvault benchmarks
  Cargo.lock
  sdk/keyvault/azure_security_keyvault_keys/Cargo.toml
  sdk/keyvault/azure_security_keyvault_keys/benches/benchmarks.rs
Owners: @Azure/azure-sdk-write-keyvault, @heaths

Add Powershell Installation Instructions for Copilot
  .github/copilot-instructions.md
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Add a pipeline template to mark SDK package as released
  eng/common/pipelines/templates/steps/mark-release-completion.yml
Owners: @Azure/azure-sdk-eng

Ignore test release plans when marking package as released
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Apply suggestion from @Copilot
  .github/copilot-instructions.md
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman
