Repository Azure/azure-sdk-for-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @heaths, @RickWinter, @ronniegeraghty, @JeffreyRichter, @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @weshaggard, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @heaths @RickWinter @ronniegeraghty
/sdk/                    @heaths @RickWinter @ronniegeraghty

# GitHub integration and bot rules
/.github/                @heaths @RickWinter @ronniegeraghty

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @heaths @RickWinter @JeffreyRichter

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @heaths @RickWinter @JeffreyRichter

###########
# Client SDKs
###########

# AzureSDKOwners: @heaths
# ServiceLabel: %Storage
# PRLabel: %Storage
/sdk/storage/           @heaths @RickWinter @JeffreyRichter

# AzureSDKOwners: @heaths
# ServiceOwner: @Pilchie
# ServiceLabel: %Cosmos
# PRLabel: %Cosmos
/sdk/cosmos/          @analogrelay @Pilchie @kirankumarkolli @tvaron3 @FabianMeiswinkel @kundadebdatta

###########
# Eng Sys
###########
/eng/                   @weshaggard @heaths @RickWinter
/.github/CODEOWNERS      @RickWinter @ronniegeraghty @Azure/azure-sdk-eng

style and wasm check fixes
  sdk/core/azure_core_amqp/src/fe2o3/connection.rs
  sdk/core/azure_core_amqp/src/noop.rs
Owners: @heaths, @RickWinter, @JeffreyRichter

style check
  sdk/core/azure_core_amqp/src/value.rs
Owners: @heaths, @RickWinter, @JeffreyRichter

Cache `BearerToken`s on `BearerTokenCredentialPolicy` (#1759)
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core/src/policies/bearer_token_policy.rs
Owners: @heaths, @RickWinter, @JeffreyRichter

Always return `Result<Arc<Self>>` from `new` credential constructors
  sdk/core/azure_core_amqp/src/fe2o3/messaging/mod.rs
  sdk/core/azure_core_amqp/src/messaging.rs
  sdk/core/azure_core_amqp/src/receiver.rs
  sdk/core/azure_core_amqp/src/value.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos_metadata.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos_query.rs
  sdk/cosmos/azure_data_cosmos/src/query.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_partition_properties.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_properties.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/consumer/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/mod.rs
  sdk/identity/azure_identity/README.md
  sdk/identity/azure_identity/examples/azure_cli_credentials.rs
  sdk/identity/azure_identity/examples/default_credentials.rs
  sdk/identity/azure_identity/examples/specific_credential.rs
  sdk/identity/azure_identity/src/credentials/app_service_managed_identity_credential.rs
  sdk/identity/azure_identity/src/credentials/azure_cli_credentials.rs
  sdk/identity/azure_identity/src/credentials/client_certificate_credentials.rs
  sdk/identity/azure_identity/src/credentials/default_credentials.rs
  sdk/identity/azure_identity/src/credentials/virtual_machine_managed_identity_credential.rs
  sdk/identity/azure_identity/src/credentials/workload_identity_credentials.rs
  sdk/identity/azure_identity/src/lib.rs
  sdk/typespec/typespec_derive/tests/compilation-tests.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @ronniegeraghty

Fix Cosmos test
  sdk/cosmos/azure_data_cosmos/src/clients/cosmos_client.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

Removed most instances of .unwrap from eventhubs and amqp
  sdk/core/azure_core_amqp/src/fe2o3/connection.rs
  sdk/core/azure_core_amqp/src/fe2o3/messaging/mod.rs
  sdk/core/azure_core_amqp/src/fe2o3/receiver.rs
  sdk/core/azure_core_amqp/src/fe2o3/sender.rs
  sdk/core/azure_core_amqp/src/fe2o3/session.rs
  sdk/core/azure_core_amqp/src/fe2o3/value.rs
  sdk/core/azure_core_amqp/src/noop.rs
  sdk/core/azure_core_amqp/src/receiver.rs
  sdk/core/azure_core_amqp/src/sender.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/consumer/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/error.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/batch.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/mod.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @ronniegeraghty

rust format; wasm fixes
  sdk/core/azure_core_amqp/src/fe2o3/sender.rs
  sdk/core/azure_core_amqp/src/noop.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/error.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/mod.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @ronniegeraghty

complete session implementation; C++ related changes (#1822)
  sdk/core/azure_core_amqp/src/cbs.rs
  sdk/core/azure_core_amqp/src/fe2o3/cbs.rs
  sdk/core/azure_core_amqp/src/fe2o3/connection.rs
  sdk/core/azure_core_amqp/src/fe2o3/management.rs
  sdk/core/azure_core_amqp/src/fe2o3/messaging/mod.rs
  sdk/core/azure_core_amqp/src/fe2o3/receiver.rs
  sdk/core/azure_core_amqp/src/fe2o3/sender.rs
  sdk/core/azure_core_amqp/src/fe2o3/session.rs
  sdk/core/azure_core_amqp/src/fe2o3/value.rs
  sdk/core/azure_core_amqp/src/lib.rs
  sdk/core/azure_core_amqp/src/management.rs
  sdk/core/azure_core_amqp/src/messaging.rs
  sdk/core/azure_core_amqp/src/noop.rs
  sdk/core/azure_core_amqp/src/receiver.rs
  sdk/core/azure_core_amqp/src/sender.rs
  sdk/core/azure_core_amqp/src/session.rs
  sdk/core/azure_core_amqp/src/value.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/consumer/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/error.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/batch.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/mod.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @ronniegeraghty

Update README with reasoning for `Result<Arc<Self>>`
  sdk/identity/azure_identity/README.md
Owners: @heaths, @RickWinter, @JeffreyRichter

Always return `Result<Arc<Self>>` from `new` credential constructors (#1828)
  sdk/core/azure_core_amqp/src/fe2o3/messaging/mod.rs
  sdk/core/azure_core_amqp/src/messaging.rs
  sdk/core/azure_core_amqp/src/receiver.rs
  sdk/core/azure_core_amqp/src/value.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos_metadata.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos_query.rs
  sdk/cosmos/azure_data_cosmos/src/clients/cosmos_client.rs
  sdk/cosmos/azure_data_cosmos/src/query.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_partition_properties.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_properties.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/consumer/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/mod.rs
  sdk/identity/azure_identity/README.md
  sdk/identity/azure_identity/examples/azure_cli_credentials.rs
  sdk/identity/azure_identity/examples/default_credentials.rs
  sdk/identity/azure_identity/examples/specific_credential.rs
  sdk/identity/azure_identity/src/credentials/app_service_managed_identity_credential.rs
  sdk/identity/azure_identity/src/credentials/azure_cli_credentials.rs
  sdk/identity/azure_identity/src/credentials/client_certificate_credentials.rs
  sdk/identity/azure_identity/src/credentials/default_credentials.rs
  sdk/identity/azure_identity/src/credentials/virtual_machine_managed_identity_credential.rs
  sdk/identity/azure_identity/src/credentials/workload_identity_credentials.rs
  sdk/identity/azure_identity/src/lib.rs
  sdk/typespec/typespec_derive/tests/compilation-tests.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @ronniegeraghty

New inference crate builds
  Cargo.toml
  sdk/openai/inference/Cargo.toml
  sdk/openai/inference/examples/azure_chat_completions.rs
  sdk/openai/inference/examples/non_azure_chat_completions.rs
  sdk/openai/inference/src/clients/azure.rs
  sdk/openai/inference/src/clients/mod.rs
  sdk/openai/inference/src/clients/non_azure.rs
  sdk/openai/inference/src/lib.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Somehow hitting the noop client
  sdk/openai/inference/Cargo.toml
  sdk/openai/inference/examples/azure_chat_completions.rs
  sdk/openai/inference/src/auth/mod.rs
  sdk/openai/inference/src/clients/azure.rs
  sdk/openai/inference/src/clients/mod.rs
  sdk/openai/inference/src/lib.rs
  sdk/openai/inference/src/models/mod.rs
  sdk/openai/inference/src/models/request/chat_completions.rs
  sdk/openai/inference/src/models/request/mod.rs
  sdk/openai/inference/src/models/response/chat_completions.rs
  sdk/openai/inference/src/models/response/mod.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Internal state of clients is setup
  sdk/openai/inference/examples/azure_chat_completions.rs
  sdk/openai/inference/examples/non_azure_chat_completions.rs
  sdk/openai/inference/src/clients/azure.rs
  sdk/openai/inference/src/clients/non_azure.rs
  sdk/openai/inference/src/lib.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Added more dependencies
  sdk/openai/inference/Cargo.toml
  sdk/openai/inference/examples/azure_chat_completions.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Renamed new to with_key and provided context on request method
  sdk/openai/inference/examples/azure_chat_completions.rs
  sdk/openai/inference/src/clients/azure.rs
  sdk/openai/inference/src/clients/chat_completions_client.rs
  sdk/openai/inference/src/clients/mod.rs
  sdk/openai/inference/src/options/mod.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Re-organized models
  sdk/openai/inference/examples/azure_chat_completions.rs
  sdk/openai/inference/src/clients/azure.rs
  sdk/openai/inference/src/models/chat_completions.rs
  sdk/openai/inference/src/models/mod.rs
  sdk/openai/inference/src/models/request/chat_completions.rs
  sdk/openai/inference/src/models/request/mod.rs
  sdk/openai/inference/src/models/response/chat_completions.rs
  sdk/openai/inference/src/models/response/mod.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Made auth classes private
  sdk/openai/inference/src/clients/azure_openai_client.rs
  sdk/openai/inference/src/clients/chat_completions_client.rs
  sdk/openai/inference/src/lib.rs
  sdk/openai/inference/src/options/mod.rs
  sdk/openai/inference/src/options/service_version.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Added api service version as a policy
  sdk/openai/inference/src/auth/mod.rs
  sdk/openai/inference/src/clients/azure.rs
  sdk/openai/inference/src/options/service_version.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

tried implementing custom type as policy and pass in the pipeline
  sdk/openai/inference/Cargo.toml
  sdk/openai/inference/examples/azure_chat_completions.rs
  sdk/openai/inference/src/auth/mod.rs
  sdk/openai/inference/src/clients/azure.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Attempt at using the pipeline
  sdk/openai/inference/examples/azure_chat_completions.rs
  sdk/openai/inference/src/auth/mod.rs
  sdk/openai/inference/src/clients/azure.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

getting 200 but no content
  sdk/openai/inference/Cargo.toml
  sdk/openai/inference/src/clients/azure.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

format
  sdk/openai/inference/src/clients/azure.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Works with policy
  sdk/openai/inference/src/clients/azure.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

WIP
  sdk/openai/inference/examples/azure_chat_completions.rs
  sdk/openai/inference/src/auth/mod.rs
  sdk/openai/inference/src/clients/azure.rs
  sdk/openai/inference/src/clients/mod.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

More clarity in comments
  sdk/openai/inference/src/clients/azure_openai_client.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

cleanup
  sdk/openai/inference/src/clients/mod.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Added client option modules to differenciate between nonAzure and Azure
  sdk/openai/inference/src/options/azure_openai_client_options.rs
  sdk/openai/inference/src/options/mod.rs
  sdk/openai/inference/src/options/openai_client_options.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

added module visibility
  sdk/openai/inference/src/options/mod.rs
  sdk/openai/inference/src/options/openai_client_options.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Extracted client_options to a separate module
  sdk/openai/inference/examples/azure_chat_completions.rs
  sdk/openai/inference/src/clients/azure.rs
  sdk/openai/inference/src/lib.rs
  sdk/openai/inference/src/options/mod.rs
  sdk/openai/inference/src/options/service_version.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Refactored clients
  sdk/openai/inference/src/clients/azure_openai_client.rs
  sdk/openai/inference/src/clients/mod.rs
  sdk/openai/inference/src/clients/openai_client.rs
  sdk/openai/inference/src/lib.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

wip
  sdk/openai/inference/src/auth/azure_key_credential.rs
  sdk/openai/inference/src/auth/mod.rs
  sdk/openai/inference/src/auth/openai_key_credential.rs
  sdk/openai/inference/src/clients/azure_openai_client.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Added comment for clarity
  sdk/openai/inference/src/clients/azure_openai_client.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Running state after rebase
  sdk/openai/inference/Cargo.toml
  sdk/openai/inference/examples/azure_chat_completions.rs
  sdk/openai/inference/src/clients/azure_openai_client.rs
  sdk/openai/inference/src/clients/chat_completions_client.rs
  sdk/openai/inference/src/models/chat_completions.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Added lifetime parameter for string slice to be able to move to lambda
  sdk/openai/inference/src/helpers/streaming.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

OpenAIClient code builds
  sdk/openai/inference/src/auth/mod.rs
  sdk/openai/inference/src/auth/openai_key_credential.rs
  sdk/openai/inference/src/clients/azure_openai_client.rs
  sdk/openai/inference/src/clients/mod.rs
  sdk/openai/inference/src/clients/openai_client.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Cleaned up imports
  sdk/openai/inference/src/clients/azure_openai_client.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Project compiles and runs, but request errors
  sdk/openai/inference/examples/azure_chat_completions.rs
  sdk/openai/inference/src/auth/mod.rs
  sdk/openai/inference/src/clients/azure_openai_client.rs
  sdk/openai/inference/src/clients/chat_completions_client.rs
  sdk/openai/inference/src/clients/mod.rs
  sdk/openai/inference/src/lib.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Added example for non Azure usage for streaming
  sdk/openai/inference/examples/azure_chat_completions_stream.rs
  sdk/openai/inference/examples/chat_completions.rs
  sdk/openai/inference/examples/chat_completions_stream.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Streaming verified working with Azure
  sdk/openai/inference/examples/azure_stream_chat_completions.rs
  sdk/openai/inference/src/clients/chat_completions_client.rs
  sdk/openai/inference/src/helpers/streaming.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Old approach to streaming response not working yet
  sdk/openai/inference/Cargo.toml
  sdk/openai/inference/src/clients/chat_completions_client.rs
  sdk/openai/inference/src/helpers/mod.rs
  sdk/openai/inference/src/helpers/streaming.rs
  sdk/openai/inference/src/lib.rs
Owners: @heaths, @RickWinter, @ronniegeraghty
