Repository Azure/azure-sdk-for-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Azure/azure-sdk-rust-dev, @heaths, @chlowell, @vincenttran-msft, @jalauzon-msft, @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @nehrao1, @kushagraThapar, @Azure/azure-sdk-write-keyvault, @hallipr, @weshaggard, @Azure/azure-sdk-eng, @RickWinter, @ronniegeraghty, @benbp, @rickwinter

Increment package version after release of azure_identity
  Cargo.lock
  sdk/identity/azure_identity/CHANGELOG.md
  sdk/identity/azure_identity/Cargo.toml
Owners: @chlowell, @Azure/azure-sdk-rust-dev

Increment package version after release of azure_identity (#2865)
  Cargo.lock
  sdk/identity/azure_identity/CHANGELOG.md
  sdk/identity/azure_identity/Cargo.toml
Owners: @chlowell, @Azure/azure-sdk-rust-dev

Increment package version after release of azure_messaging_eventhubs (#2859)
  Cargo.lock
  sdk/eventhubs/azure_messaging_eventhubs/CHANGELOG.md
  sdk/eventhubs/azure_messaging_eventhubs/Cargo.toml
Owners: @Azure/azure-sdk-rust-dev

changing location cache functions
  sdk/cosmos/azure_data_cosmos/src/location_cache.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @nehrao1, @kushagraThapar

bump target version of the test-proxy
  eng/common/testproxy/target_version.txt
Owners: @Azure/azure-sdk-eng

Added Reconnect support for Event Hubs (#2826)
  Cargo.lock
  Cargo.toml
  sdk/core/azure_core_amqp/CHANGELOG.md
  sdk/core/azure_core_amqp/src/error.rs
  sdk/core/azure_core_amqp/src/fe2o3/connection.rs
  sdk/core/azure_core_amqp/src/fe2o3/error.rs
  sdk/core/azure_core_amqp/src/fe2o3/receiver.rs
  sdk/core/azure_core_amqp/src/fe2o3/sender.rs
  sdk/core/azure_core_amqp/src/fe2o3/session.rs
  sdk/eventhubs/azure_messaging_eventhubs/CHANGELOG.md
  sdk/eventhubs/azure_messaging_eventhubs/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs/README.md
  sdk/eventhubs/azure_messaging_eventhubs/assets.json
  sdk/eventhubs/azure_messaging_eventhubs/benches/benchmarks.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_batch_produce_events.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/authorizer.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/recoverable/claims_based_security.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/recoverable/connection.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/recoverable/management.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/recoverable/receiver.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/recoverable/sender.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/retry.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/consumer/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/event_processor/load_balancer.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/event_processor/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/in_memory_checkpoint_store.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/lib.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/batch.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/eventhubs_producer.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/eventhubs_round_trip.rs
  sdk/typespec/typespec_client_core/src/tracing/with_context.rs
Owners: @Azure/azure-sdk-rust-dev, @heaths

Date chagnelog
  sdk/storage/azure_storage_blob/CHANGELOG.md
Owners: @Azure/azure-sdk-rust-dev, @vincenttran-msft, @jalauzon-msft

Release date changelog (#2868)
  sdk/storage/azure_storage_blob/CHANGELOG.md
Owners: @Azure/azure-sdk-rust-dev, @vincenttran-msft, @jalauzon-msft

bump target version of the test-proxy (#2866)
  eng/common/testproxy/target_version.txt
Owners: @Azure/azure-sdk-eng

Increment package version after release of azure_storage_blob
  Cargo.lock
  sdk/storage/azure_storage_blob/CHANGELOG.md
  sdk/storage/azure_storage_blob/Cargo.toml
Owners: @Azure/azure-sdk-rust-dev, @vincenttran-msft, @jalauzon-msft

Increment after v0.4.0 release
  Cargo.lock
  sdk/storage/azure_storage_blob/CHANGELOG.md
  sdk/storage/azure_storage_blob/Cargo.toml
Owners: @Azure/azure-sdk-rust-dev, @vincenttran-msft, @jalauzon-msft

Source user object id directly instead of with graph
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Corrected EH version
  Cargo.toml
Owners: @Azure/azure-sdk-rust-dev

Refactor for v20 emitter changes
  sdk/storage/azure_storage_blob/assets.json
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/parsers.rs
Owners: @Azure/azure-sdk-rust-dev, @vincenttran-msft, @jalauzon-msft

Increment after v0.4.0 release (#2870)
  Cargo.lock
  sdk/storage/azure_storage_blob/CHANGELOG.md
  sdk/storage/azure_storage_blob/Cargo.toml
Owners: @Azure/azure-sdk-rust-dev, @vincenttran-msft, @jalauzon-msft

Make sure we print env vars for JSON ARM templates (#2867)
  eng/common/TestResources/TestResources-Helpers.ps1
Owners: @Azure/azure-sdk-eng

PR feedback
  Cargo.toml
  sdk/eventhubs/assets.json
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/README.md
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/tests/checkpoint_unit_tests.rs
Owners: @Azure/azure-sdk-rust-dev

Throw error if deprecated parameter -UserAuth is passed
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

PR feedback; fixed ownership tests
  Cargo.toml
  sdk/eventhubs/assets.json
  sdk/eventhubs/azure_messaging_eventhubs/README.md
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/src/checkpoint_store.rs
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/tests/ownership_unit_tests.rs
Owners: @Azure/azure-sdk-rust-dev

update changelog for 0.26
  sdk/cosmos/azure_data_cosmos/CHANGELOG.md
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @nehrao1, @kushagraThapar

Remove fs module
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/src/fs/mod.rs
  sdk/core/azure_core/src/lib.rs
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/examples/common/fs.rs
  sdk/typespec/typespec_client_core/examples/common/mod.rs
  sdk/typespec/typespec_client_core/examples/core_binary_data_request.rs
  sdk/typespec/typespec_client_core/src/fs/mod.rs
  sdk/typespec/typespec_client_core/src/lib.rs
Owners: @heaths, @Azure/azure-sdk-rust-dev

rename to .instructions.md
  eng/common/instructions/azsdk-tools/check-api-readiness.instructions.md
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.instructions.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.instructions.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-typespec.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Owners: @Azure/azure-sdk-eng

remove uneeded headers
  eng/common/instructions/azsdk-tools/check-api-readiness.instructions.md
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.instructions.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.instructions.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-typespec.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
Owners: @Azure/azure-sdk-eng

change to .instructions
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

place prompts in common place
  eng/common/instructions/azsdk-tools/check-api-readiness.prompt.md
  eng/common/instructions/azsdk-tools/check-package-readiness.prompt.md
  eng/common/instructions/azsdk-tools/create-release-plan.prompt.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.prompt.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.prompt.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/validate-typespec.prompt.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
Owners: @Azure/azure-sdk-eng

update changelog for 0.26 (#2876)
  sdk/cosmos/azure_data_cosmos/CHANGELOG.md
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @nehrao1, @kushagraThapar

Also remove dependency on tokio/io-util
  sdk/typespec/typespec_client_core/Cargo.toml
Owners: @Azure/azure-sdk-rust-dev

rename to .instructions.md
  eng/common/instructions/azsdk-tools/check-api-readiness.instructions.md
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.instructions.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.instructions.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-typespec.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
Owners: @Azure/azure-sdk-eng

place prompts in common place
  eng/common/instructions/azsdk-tools/check-api-readiness.prompt.md
  eng/common/instructions/azsdk-tools/check-package-readiness.prompt.md
  eng/common/instructions/azsdk-tools/create-release-plan.prompt.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.prompt.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.prompt.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/validate-typespec.prompt.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.prompt.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.prompt.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.prompt.md
Owners: @Azure/azure-sdk-eng

fix
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Owners: @Azure/azure-sdk-eng

change to .instructions
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

remove uneeded headers
  eng/common/instructions/azsdk-tools/check-api-readiness.instructions.md
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/create-spec-pullrequest.instructions.md
  eng/common/instructions/azsdk-tools/run-sdk-gen-pipeline.instructions.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-typespec.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Owners: @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

# -----------------------------------------------------------------
# IMPORTANT NOTE:
#   The ordering of "ServiceLabel" blocks is important!
#
#   Matching takes place from bottom-to-top and will stop after the
#   first match.  Place less specific matches earlier in the file
#   and more specific matches later.
#
#   Be sure to add new entries in the area they belong, denoted by the
#   header wrapped in "#" characters. (e.g. SDK, EngSys, Management)
# -----------------------------------------------------------------

##################
# Repository root
##################

# Catch all for loose files in the root, which are mostly global configuration and
# should not be changed without team discussion.
/*                       @Azure/azure-sdk-rust-dev

# Catch all for non-code project files and unowned files | folders
/**                      @Azure/azure-sdk-rust-dev

# Allow service owners to approve crate version updates, which impact Cargo.lock
/Cargo.lock

##################
# Automation
##################

# GitHub integration and bot rules
/.github/                @Azure/azure-sdk-rust-dev

###########
# SDK
###########
# Catch all
/sdk/                    @Azure/azure-sdk-rust-dev

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @heaths @Azure/azure-sdk-rust-dev

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @chlowell @Azure/azure-sdk-rust-dev

###########
# Client SDKs
###########

# AzureSDKOwners: @heaths
# ServiceLabel: %Storage
# PRLabel: %Storage
/sdk/storage/           @Azure/azure-sdk-rust-dev @vincenttran-msft @jalauzon-msft

# AzureSDKOwners: @heaths
# ServiceOwner: @Pilchie
# ServiceLabel: %Cosmos
# PRLabel: %Cosmos
/sdk/cosmos/             @analogrelay @Pilchie @kirankumarkolli @tvaron3 @FabianMeiswinkel @kundadebdatta @nehrao1 @kushagraThapar

# ServiceOwner: @Azure/azure-sdk-write-keyvault
# ServiceLabel: %KeyVault
# PRLabel: %KeyVault
/sdk/keyvault/           @Azure/azure-sdk-write-keyvault @Azure/azure-sdk-rust-dev

###########
# Eng Sys
###########
/eng/                    @hallipr @weshaggard @Azure/azure-sdk-rust-dev
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @RickWinter @ronniegeraghty @Azure/azure-sdk-eng
/.config/1espt/          @benbp @weshaggard
/sdk/template/			 @hallipr

# Add owners for notifications for specific pipelines
/eng/common/pipelines/codeowners-linter.yml       @rickwinter
