Repository Azure/azure-sdk-for-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman, @JeffreyRichter, @chlowell, @vincenttran-msft, @jalauzon-msft, @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @hallipr, @weshaggard, @Azure/azure-sdk-eng, @benbp, @rickwinter

unnecessary closure
  sdk/identity/azure_identity/src/managed_identity_credential.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @LarryOsterman, @chlowell

make it cloneable
  sdk/identity/azure_identity/src/managed_identity_credential.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @LarryOsterman, @chlowell

simpler tracing
  sdk/identity/azure_identity/src/managed_identity_credential.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @LarryOsterman, @chlowell

remove newline
  sdk/identity/azure_identity/CHANGELOG.md
Owners: @heaths, @RickWinter, @JeffreyRichter, @LarryOsterman, @chlowell

remove unneeded impl Display
  sdk/identity/azure_identity/src/managed_identity_credential.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @LarryOsterman, @chlowell

use TokenCredentialOptions.env instead of std::env
  sdk/identity/azure_identity/src/credentials/imds_managed_identity_credentials.rs
  sdk/identity/azure_identity/src/managed_identity_credential.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @LarryOsterman, @chlowell

Add handling to stress deploy script to tell users when they lack TME group permissions
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Owners: @Azure/azure-sdk-eng

Update eng/scripts/Language-Settings.ps1
  eng/scripts/Language-Settings.ps1
Owners: @hallipr, @weshaggard, @heaths, @RickWinter

pull across necessary changes to Artifact handling that MUST be made to enable go to actually match some packages during checks
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

need to include the aztemplate package by default if necessary
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

we cannot assume that there are always artifactdetails initially set. on js specifically artifactname isn't populated yet
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

we need to ensure that this thing is an array
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

updatingpreteststeps
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Owners: @Azure/azure-sdk-eng

Only bump template to 0.2.0
  Cargo.lock
  sdk/template/azure_template/Cargo.toml
  sdk/template/azure_template_core/CHANGELOG.md
  sdk/template/azure_template_core/Cargo.toml
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman, @hallipr

Update logging functions for github actions (#2420)
  eng/common/scripts/logging.ps1
Owners: @Azure/azure-sdk-eng

Add API View to build (#2396)
  Cargo.lock
  eng/pipelines/templates/jobs/analyze.yml
  eng/pipelines/templates/jobs/ci.tests.yml
  eng/pipelines/templates/jobs/live.tests.yml
  eng/pipelines/templates/jobs/pack.yml
  eng/pipelines/templates/stages/archetype-rust-release.yml
  eng/pipelines/templates/steps/use-rust.yml
  eng/scripts/Analyze-Code.ps1
  eng/scripts/Language-Settings.ps1
  eng/scripts/Pack-Crates.ps1
  eng/scripts/Test-Packages.ps1
  eng/scripts/Update-PackageVersion.ps1
  eng/scripts/Use-Rust.ps1
  sdk/template/azure_template/Cargo.toml
  sdk/template/azure_template_core/CHANGELOG.md
  sdk/template/azure_template_core/Cargo.toml
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman, @hallipr, @weshaggard

Update APIView Helpers (#2422)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Close to final export
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/src/lib.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
  sdk/storage/azure_storage_blob/tests/blob_container_client.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Sync eng/common directory with azure-sdk-tools for PR 10038 (#2410)
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/scripts/Package-Properties.ps1
Owners: @Azure/azure-sdk-eng

Regenerate after header_traits changes
  sdk/storage/azure_storage_blob/src/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/header_traits.rs
  sdk/storage/azure_storage_blob/src/generated/models/method_options.rs
  sdk/storage/azure_storage_blob/src/generated/models/pub_models.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
Owners: @heaths, @RickWinter, @JeffreyRichter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

PR feedback
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

nits
  sdk/storage/azure_storage_blob/src/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/lib.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

# -----------------------------------------------------------------
# IMPORTANT NOTE:
#   The ordering of "ServiceLabel" blocks is important!
#
#   Matching takes place from bottom-to-top and will stop after the
#   first match.  Place less specific matches earlier in the file
#   and more specific matches later.
#
#   Be sure to add new entries in the area they belong, denoted by the
#   header wrapped in "#" characters. (e.g. SDK, EngSys, Management)
# -----------------------------------------------------------------

##################
# Repository root
##################

# Catch all for loose files in the root, which are mostly global configuration and
# should not be changed without team discussion.
/*                       @heaths @RickWinter @ronniegeraghty @LarryOsterman

# Catch all for non-code project files and unowned files | folders
/**                      @heaths @RickWinter @ronniegeraghty @LarryOsterman

##################
# Automation
##################

# GitHub integration and bot rules
/.github/                @heaths @RickWinter @ronniegeraghty @LarryOsterman

###########
# SDK
###########
# Catch all
/sdk/                    @heaths @RickWinter @ronniegeraghty @LarryOsterman

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @heaths @RickWinter @JeffreyRichter @LarryOsterman

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @heaths @RickWinter @JeffreyRichter @LarryOsterman @chlowell

###########
# Client SDKs
###########

# AzureSDKOwners: @heaths
# ServiceLabel: %Storage
# PRLabel: %Storage
/sdk/storage/           @heaths @RickWinter @JeffreyRichter @LarryOsterman @vincenttran-msft @jalauzon-msft

# AzureSDKOwners: @heaths
# ServiceOwner: @Pilchie
# ServiceLabel: %Cosmos
# PRLabel: %Cosmos
/sdk/cosmos/             @analogrelay @Pilchie @kirankumarkolli @tvaron3 @FabianMeiswinkel @kundadebdatta

###########
# Eng Sys
###########
/eng/                    @hallipr @weshaggard @heaths @RickWinter
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @RickWinter @ronniegeraghty @Azure/azure-sdk-eng
/.config/1espt/          @benbp @weshaggard
/sdk/template/			 @hallipr

# Add owners for notifications for specific pipelines
/eng/common/pipelines/codeowners-linter.yml       @rickwinter
