Repository Azure/azure-sdk-for-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @heaths, @RickWinter, @ronniegeraghty, @JeffreyRichter, @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @weshaggard, @Azure/azure-sdk-eng

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

###########
# SDK
###########

# Catch all for non-code project files and unowned files | folders
/**                      @heaths @RickWinter @ronniegeraghty
/sdk/                    @heaths @RickWinter @ronniegeraghty

# GitHub integration and bot rules
/.github/                @heaths @RickWinter @ronniegeraghty

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @heaths @RickWinter @JeffreyRichter

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @heaths @RickWinter @JeffreyRichter

###########
# Client SDKs
###########

# AzureSDKOwners: @heaths
# ServiceLabel: %Storage
# PRLabel: %Storage
/sdk/storage/           @heaths @RickWinter @JeffreyRichter

# AzureSDKOwners: @heaths
# ServiceOwner: @Pilchie
# ServiceLabel: %Cosmos
# PRLabel: %Cosmos
/sdk/cosmos/          @analogrelay @Pilchie @kirankumarkolli @tvaron3 @FabianMeiswinkel @kundadebdatta

###########
# Eng Sys
###########
/eng/                   @weshaggard @heaths @RickWinter
/.github/CODEOWNERS      @RickWinter @ronniegeraghty @Azure/azure-sdk-eng

fix doc links
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

import Model derive macro directly
  sdk/typespec/typespec_client_core/src/http/pager.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

some pr feedback
  sdk/cosmos/azure_data_cosmos/src/constants.rs
  sdk/cosmos/azure_data_cosmos/src/lib.rs
  sdk/typespec/typespec_client_core/src/http/pager.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @heaths, @RickWinter, @ronniegeraghty

add PagerResult
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/typespec/typespec_client_core/src/http/pager.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @heaths, @RickWinter, @ronniegeraghty

Rust message sender updates for C++
  sdk/core/azure_core_amqp/src/cbs.rs
  sdk/core/azure_core_amqp/src/fe2o3/cbs.rs
  sdk/core/azure_core_amqp/src/fe2o3/management.rs
  sdk/core/azure_core_amqp/src/fe2o3/sender.rs
  sdk/core/azure_core_amqp/src/fe2o3/session.rs
  sdk/core/azure_core_amqp/src/management.rs
  sdk/core/azure_core_amqp/src/sender.rs
Owners: @heaths, @RickWinter, @JeffreyRichter

Clippy fixes
  sdk/core/azure_core_amqp/src/fe2o3/management.rs
  sdk/core/azure_core_amqp/src/management.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/batch.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @ronniegeraghty

format; removed experiment
  sdk/core/azure_core_amqp/src/fe2o3/sender.rs
Owners: @heaths, @RickWinter, @JeffreyRichter

More codegen and clippy fixes
  eng/scripts/services_tests.sh
  services/autorust/codegen/src/codegen.rs
  services/autorust/codegen/src/codegen_operations/response_headers.rs
  services/autorust/codegen/src/doc_comment.rs
  services/mgmt/databox/autorust.toml
  services/mgmt/fleet/autorust.toml
  services/mgmt/informatica/autorust.toml
  services/mgmt/monitor/autorust.toml
  services/mgmt/network/autorust.toml
  services/mgmt/portalservices/autorust.toml
  services/svc/ai/autorust.toml
  services/svc/batch/autorust.toml
  services/svc/blobstorage/autorust.toml
  services/svc/confidentialledger/autorust.toml
  services/svc/maps/autorust.toml
  services/svc/schemaregistry/autorust.toml
Owners: @weshaggard, @heaths, @RickWinter, @ronniegeraghty

Updating mark down files for launch of the official sdk betas
  CONTRIBUTING.md
  LICENSE
  README.md
  SUPPORT.md
Owners: @heaths, @RickWinter, @ronniegeraghty

fixed formatting issue
  SUPPORT.md
Owners: @heaths, @RickWinter, @ronniegeraghty

Added basic prerequisites and build instructions.
  CONTRIBUTING.md
Owners: @heaths, @RickWinter, @ronniegeraghty

Adding file extension to LICENSE file
  LICENSE.txt
Owners: @heaths, @RickWinter, @ronniegeraghty

Fixing spelling issues and adding words to cspell dictionary
  .vscode/cspell.json
  CONTRIBUTING.md
  SUPPORT.md
Owners: @heaths, @RickWinter, @ronniegeraghty

fixing formatting issues
  README.md
Owners: @heaths, @RickWinter, @ronniegeraghty

rename PagerResult::Finish to PagerResult::Complete
  sdk/typespec/typespec_client_core/src/http/pager.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

format changes
  sdk/core/azure_core_amqp/src/sender.rs
Owners: @heaths, @RickWinter, @JeffreyRichter

wasm fixes
  sdk/core/azure_core_amqp/src/noop.rs
Owners: @heaths, @RickWinter, @JeffreyRichter

fix docs
  sdk/typespec/typespec_client_core/src/http/pager.rs
Owners: @heaths, @RickWinter, @ronniegeraghty

Update track 1 READMEs with notice
  README.md
  sdk/core/README.md
  sdk/data_cosmos/README.md
  sdk/data_tables/README.md
  sdk/identity/README.md
  sdk/iot_deviceupdate/README.md
  sdk/iot_hub/README.md
  sdk/messaging_eventgrid/README.md
  sdk/messaging_servicebus/README.md
  sdk/security_keyvault/README.md
  sdk/storage/README.md
  sdk/storage_blobs/README.md
  sdk/storage_datalake/README.md
  sdk/storage_queues/README.md
  services/autorust/codegen/templates/readme.md.jinja
Owners: @heaths, @RickWinter, @ronniegeraghty, @JeffreyRichter

Import READMEs and remove cargo-readme
  eng/scripts/cargo_readme.sh
  eng/scripts/code_style.sh
  sdk/core/src/lib.rs
  sdk/data_cosmos/README.md
  sdk/data_cosmos/src/lib.rs
  sdk/data_tables/README.md
  sdk/data_tables/src/lib.rs
  sdk/identity/README.md
  sdk/identity/src/lib.rs
  sdk/iot_deviceupdate/src/lib.rs
  sdk/iot_hub/src/lib.rs
  sdk/messaging_eventgrid/src/lib.rs
  sdk/messaging_servicebus/README.md
  sdk/messaging_servicebus/src/lib.rs
  sdk/security_keyvault/src/lib.rs
  sdk/storage/src/lib.rs
  sdk/storage_blobs/README.md
  sdk/storage_blobs/src/lib.rs
  sdk/storage_datalake/src/lib.rs
  sdk/storage_queues/README.md
  sdk/storage_queues/src/lib.rs
Owners: @weshaggard, @heaths, @RickWinter, @JeffreyRichter, @ronniegeraghty

Rust AMQP modifications for C++ message sender; also added a bunch of terminal state functions. (#1839)
  sdk/core/azure_core_amqp/src/cbs.rs
  sdk/core/azure_core_amqp/src/fe2o3/cbs.rs
  sdk/core/azure_core_amqp/src/fe2o3/sender.rs
  sdk/core/azure_core_amqp/src/fe2o3/session.rs
  sdk/core/azure_core_amqp/src/noop.rs
  sdk/core/azure_core_amqp/src/sender.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/batch.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @ronniegeraghty

Pager rename and refactor (#1836)
  sdk/core/azure_core/src/lib.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/query.rs
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/lib.rs
  sdk/cosmos/azure_data_cosmos/src/models/mod.rs
  sdk/typespec/typespec_client_core/src/http/mod.rs
  sdk/typespec/typespec_client_core/src/http/pageable.rs
  sdk/typespec/typespec_client_core/src/http/pager.rs
Owners: @heaths, @RickWinter, @JeffreyRichter, @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @ronniegeraghty

add 'id' methods to ContainerClient/DatabaseClient
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/clients/cosmos_client.rs
  sdk/cosmos/azure_data_cosmos/src/clients/database_client.rs
  sdk/cosmos/azure_data_cosmos/src/options/query_containers_options.rs
  sdk/cosmos/azure_data_cosmos/src/options/query_databases_options.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

add CosmosClient::query_databases
  sdk/cosmos/azure_data_cosmos/examples/cosmos/create.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/delete.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/metadata.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/query.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/read.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/replace.rs
  sdk/cosmos/azure_data_cosmos/examples/cosmos/upsert.rs
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/clients/cosmos_client.rs
  sdk/cosmos/azure_data_cosmos/src/models/mod.rs
  sdk/cosmos/azure_data_cosmos/src/options/mod.rs
  sdk/cosmos/azure_data_cosmos/src/options/query_databases_options.rs
  sdk/cosmos/azure_data_cosmos/src/pipeline/mod.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

add DatabaseClient::query_containers
  sdk/cosmos/azure_data_cosmos/examples/cosmos/query.rs
  sdk/cosmos/azure_data_cosmos/src/clients/database_client.rs
  sdk/cosmos/azure_data_cosmos/src/models/mod.rs
  sdk/cosmos/azure_data_cosmos/src/options/mod.rs
  sdk/cosmos/azure_data_cosmos/src/options/query_containers_options.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

add all the ContainerProperties
  sdk/cosmos/azure_data_cosmos/src/models/container_properties.rs
  sdk/cosmos/azure_data_cosmos/src/models/mod.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

fix some clippy warnings
  sdk/cosmos/azure_data_cosmos/src/clients/cosmos_client.rs
  sdk/cosmos/azure_data_cosmos/src/clients/database_client.rs
  sdk/cosmos/azure_data_cosmos/src/models/mod.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

test for indexing policy deserialization
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/models/container_properties.rs
  sdk/cosmos/azure_data_cosmos/src/models/mod.rs
  sdk/cosmos/azure_data_cosmos/src/pipeline/mod.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

fix bad doc links
  sdk/cosmos/azure_data_cosmos/src/models/container_properties.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

fix doc links (again)
  sdk/cosmos/azure_data_cosmos/src/models/container_properties.rs
  sdk/cosmos/azure_data_cosmos/src/options/query_containers_options.rs
  sdk/cosmos/azure_data_cosmos/src/options/query_databases_options.rs
Owners: @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta

add emitter configs
  eng/emitter-package-lock.json
  eng/emitter-package.json
Owners: @weshaggard, @heaths, @RickWinter

ignore TempTypeSpecFiles dir
  .gitignore
Owners: @heaths, @RickWinter, @ronniegeraghty

add emitter configs
  eng/emitter-package-lock.json
  eng/emitter-package.json
Owners: @weshaggard, @heaths, @RickWinter

ignore TempTypeSpecFiles dir
  .gitignore
Owners: @heaths, @RickWinter, @ronniegeraghty

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @heaths, @RickWinter, @ronniegeraghty

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @heaths, @RickWinter, @ronniegeraghty

Update FAQ.md
  FAQ.md
Owners: @heaths, @RickWinter, @ronniegeraghty

Update NOTICE.txt
  NOTICE.txt
Owners: @heaths, @RickWinter, @ronniegeraghty

Update FAQ.md (#1847)
  FAQ.md
Owners: @heaths, @RickWinter, @ronniegeraghty

Update NOTICE.txt (#1848)
  NOTICE.txt
Owners: @heaths, @RickWinter, @ronniegeraghty
