Repository Azure/azure-sdk-for-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman, @chlowell, @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @nehrao1, @kushagraThapar, @Azure/azure-sdk-write-keyvault, @vincenttran-msft, @jalauzon-msft, @hallipr, @weshaggard, @Azure/azure-sdk-eng, @benbp, @rickwinter

snake case
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Owners: @Azure/azure-sdk-eng

changed name file
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Owners: @Azure/azure-sdk-eng

First draft
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_client.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Sync eng/common directory with azure-sdk-tools for PR 11840 (#2949)
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Owners: @Azure/azure-sdk-eng

Allow use of other TLS implementations for eventhubs (#2945)
  Cargo.toml
  sdk/core/azure_core_amqp/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs/Cargo.toml
  sdk/servicebus/azure_messaging_servicebus/Cargo.toml
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Clear up confusion in generated diff
  sdk/storage/azure_storage_blob/src/generated/clients/blob_client.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @vincenttran-msft, @jalauzon-msft

Sync eng/common directory with azure-sdk-tools for PR 11839 (#2951)
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
Owners: @Azure/azure-sdk-eng

Document how to replace some features
  sdk/core/azure_core/README.md
Owners: @heaths, @RickWinter, @LarryOsterman

Fix lint
  .vscode/cspell.json
  sdk/core/azure_core/README.md
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Document how to replace some features (#2952)
  .vscode/cspell.json
  sdk/core/azure_core/README.md
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Source user ID from graph api in TME
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Add CPEX KPI attestation automation
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Add Actual Kpi Ids and Remove changed date filter
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Rewrite Triage Attestation Logic
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Fix Kusto command and Add stricter work item query
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Update kusto info and remove schedule in pipeline
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Owners: @Azure/azure-sdk-eng

Added missing comma
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

fix case
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

added instructions for sdk local workflow
  eng/common/instructions/azsdk-tools/create-sdk-locally.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Owners: @Azure/azure-sdk-eng

Replace 'tspconfigPath' by the literal file name
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Owners: @Azure/azure-sdk-eng

Update eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Owners: @Azure/azure-sdk-eng

Trim trailing whitespaces
  eng/common/instructions/azsdk-tools/validate-codeowners.instructions.md
Owners: @Azure/azure-sdk-eng

Added suggested changes from previous PR
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Owners: @Azure/azure-sdk-eng

Updated instructions files for service label and CODEOWNERS validation
  eng/common/instructions/azsdk-tools/validate-codeowners.instructions.md
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 11905 (#2959)
  eng/common/instructions/azsdk-tools/validate-codeowners.instructions.md
  eng/common/instructions/azsdk-tools/validate-service-label.instructions.md
Owners: @Azure/azure-sdk-eng

Sync eng/common directory with azure-sdk-tools for PR 11896 (#2961)
  eng/common/TestResources/New-TestResources.ps1
Owners: @Azure/azure-sdk-eng

Refactor pager, poller modules (#2909) (#2960)
  sdk/core/azure_core/examples/core_pager.rs
  sdk/core/azure_core/examples/core_poller.rs
  sdk/core/azure_core/src/http/mod.rs
  sdk/core/azure_core/src/http/pager.rs
  sdk/cosmos/azure_data_cosmos/src/feed.rs
  sdk/cosmos/azure_data_cosmos/src/pipeline/mod.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/clients.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/clients/certificate_client.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/models/models_impl.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/models.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/clients/key_client.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/models/models_impl.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/clients/secret_client.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/models/models_impl.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_service_client.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @analogrelay, @Pilchie, @kirankumarkolli, @tvaron3, @FabianMeiswinkel, @kundadebdatta, @nehrao1, @kushagraThapar, @Azure/azure-sdk-write-keyvault, @vincenttran-msft, @jalauzon-msft

Refactor RequestContent conversion for Spector
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core_test/src/proxy/models.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/models/models_impl.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/models/models_impl.rs
  sdk/keyvault/azure_security_keyvault_keys/tests/key_client.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/models/models_impl.rs
  sdk/keyvault/azure_security_keyvault_secrets/tests/secret_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/models_impl.rs
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_client_core/src/http/request/mod.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @Azure/azure-sdk-write-keyvault, @vincenttran-msft, @jalauzon-msft, @ronniegeraghty

Checkpoint - added the logging policy and sanitizers for headers and query parameters.
  Cargo.lock
  sdk/core/azure_core/README.md
  sdk/core/azure_core/src/http/options/mod.rs
  sdk/core/azure_core_opentelemetry/tests/telemetry_service_implementation.rs
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/examples/checkpoint_store_basic.rs
  sdk/typespec/typespec_client_core/src/http/clients/reqwest.rs
  sdk/typespec/typespec_client_core/src/http/headers/common.rs
  sdk/typespec/typespec_client_core/src/http/headers/microsoft.rs
  sdk/typespec/typespec_client_core/src/http/headers/mod.rs
  sdk/typespec/typespec_client_core/src/http/mod.rs
  sdk/typespec/typespec_client_core/src/http/options/mod.rs
  sdk/typespec/typespec_client_core/src/http/pipeline.rs
  sdk/typespec/typespec_client_core/src/http/policies/logging.rs
  sdk/typespec/typespec_client_core/src/http/policies/mod.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/mod.rs
  sdk/typespec/typespec_client_core/src/http/policies/transport.rs
  sdk/typespec/typespec_client_core/src/http/request/mod.rs
  sdk/typespec/typespec_client_core/src/http/sanitizer.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @ronniegeraghty

Checkpoint with merged otel traces
  Cargo.lock
  sdk/eventhubs/azure_messaging_eventhubs/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_produce_events.rs
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/examples/checkpoint_store_basic.rs
  sdk/keyvault/azure_security_keyvault_secrets/Cargo.toml
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman, @Azure/azure-sdk-write-keyvault

Cleaned up format of debug output; tightened up traces
  sdk/typespec/typespec_client_core/src/http/policies/logging.rs
  sdk/typespec/typespec_client_core/src/http/sanitizer.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

Somehow typespec_core debug was turned on
  sdk/keyvault/azure_security_keyvault_secrets/Cargo.toml
Owners: @Azure/azure-sdk-write-keyvault, @heaths

Added exceptions for opentelemetry crates not used in general cases
  eng/scripts/verify-dependencies.rs
Owners: @hallipr, @weshaggard, @heaths, @RickWinter

Don't use Option<LoggingOptions>, instead just require them directly
  sdk/core/azure_core/src/http/options/mod.rs
  sdk/core/azure_core/src/http/pipeline.rs
  sdk/core/azure_core/src/http/policies/instrumentation/public_api_instrumentation.rs
  sdk/core/azure_core/src/http/policies/instrumentation/request_instrumentation.rs
  sdk/core/azure_core_opentelemetry/tests/telemetry_service_implementation.rs
  sdk/typespec/typespec_client_core/src/http/options/mod.rs
  sdk/typespec/typespec_client_core/src/http/pipeline.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @ronniegeraghty

Sanitize URLs used for tracing
  sdk/core/azure_core/src/http/pipeline.rs
  sdk/core/azure_core/src/http/policies/instrumentation/public_api_instrumentation.rs
  sdk/core/azure_core/src/http/policies/instrumentation/request_instrumentation.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_produce_events.rs
Owners: @heaths, @RickWinter, @LarryOsterman, @ronniegeraghty

Undid eventhubs changes
  Cargo.lock
  sdk/eventhubs/azure_messaging_eventhubs/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_produce_events.rs
Owners: @heaths, @RickWinter, @ronniegeraghty, @LarryOsterman

.github/CODEOWNERS:

# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/main/docs/policies/opensource.md#codeowners

# -----------------------------------------------------------------
# IMPORTANT NOTE:
#   The ordering of "ServiceLabel" blocks is important!
#
#   Matching takes place from bottom-to-top and will stop after the
#   first match.  Place less specific matches earlier in the file
#   and more specific matches later.
#
#   Be sure to add new entries in the area they belong, denoted by the
#   header wrapped in "#" characters. (e.g. SDK, EngSys, Management)
# -----------------------------------------------------------------

##################
# Repository root
##################

# Catch all for loose files in the root, which are mostly global configuration and
# should not be changed without team discussion.
/*                       @heaths @RickWinter @ronniegeraghty @LarryOsterman

# Catch all for non-code project files and unowned files | folders
/**                      @heaths @RickWinter @ronniegeraghty @LarryOsterman

# Allow service owners to approve crate version updates, which impact Cargo.lock
/Cargo.lock

##################
# Automation
##################

# GitHub integration and bot rules
/.github/                @heaths @RickWinter @ronniegeraghty @LarryOsterman

###########
# SDK
###########
# Catch all
/sdk/                    @heaths @RickWinter @ronniegeraghty @LarryOsterman

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Core
# PRLabel: %Azure.Core
/sdk/core/               @heaths @RickWinter @LarryOsterman

# AzureSDKOwners: @heaths
# ServiceLabel: %Azure.Identity
# PRLabel: %Azure.Identity
/sdk/identity/           @heaths @RickWinter @LarryOsterman @chlowell

####################
# Client Libraries
####################

# PRLabel: %Cosmos
/sdk/cosmos/             @analogrelay @Pilchie @kirankumarkolli @tvaron3 @FabianMeiswinkel @kundadebdatta @nehrao1 @kushagraThapar

# ServiceLabel: %Cosmos
# AzureSDKOwners: @heaths
# ServiceOwners: @Pilchie

# PRLabel: %KeyVault
/sdk/keyvault/           @Azure/azure-sdk-write-keyvault @heaths

# ServiceLabel: %KeyVault
# ServiceOwners: @Azure/azure-sdk-write-keyvault

# PRLabel: %Storage
/sdk/storage/            @heaths @RickWinter @LarryOsterman @vincenttran-msft @jalauzon-msft

# ServiceLabel: %Storage
# AzureSDKOwners: @vincenttran-msft @jalauzon-msft

####################
# Management Libraries
####################

###########
# Eng Sys
###########
/eng/                    @hallipr @weshaggard @heaths @RickWinter
/eng/common/             @Azure/azure-sdk-eng
/.github/workflows/      @Azure/azure-sdk-eng
/.github/CODEOWNERS      @RickWinter @ronniegeraghty @Azure/azure-sdk-eng
/.config/1espt/          @benbp @weshaggard
/sdk/template/			 @hallipr

# Add owners for notifications for specific pipelines
/eng/common/pipelines/codeowners-linter.yml       @rickwinter
