Repository Azure/azure-sdk-for-rust, pull requests merged in 2021-11, with the labels that each got.

#465 Retry on 5xx, error on 4xx
  sdk/core/src/errors.rs
  sdk/core/src/http_client.rs
  sdk/core/src/policies/retry_policies/retry_policy.rs
  sdk/core/src/response.rs
  sdk/cosmos/src/clients/collection_client.rs
  sdk/cosmos/src/clients/cosmos_client.rs
  sdk/cosmos/src/clients/database_client.rs
  sdk/cosmos/src/clients/document_client.rs
  sdk/cosmos/src/clients/permission_client.rs
  sdk/cosmos/src/clients/user_client.rs
  sdk/iot_hub/src/service/requests/create_or_update_device_identity_builder.rs
  sdk/iot_hub/src/service/requests/create_or_update_module_identity_builder.rs
  sdk/storage/src/data_lake/clients/file_system_client.rs
Labels: retry_policy

#468 refresh tokens contain `scope` fields, not `scopes`
  sdk/identity/src/refresh_token.rs
Labels: identity

#488 Rename DefaultCredential to DefaultAzureCredential
  sdk/identity/examples/default_credentials.rs
  sdk/identity/src/errors.rs
  sdk/identity/src/token_credentials/default_credentials.rs
  sdk/security_keyvault/src/client.rs
  sdk/security_keyvault/src/secret.rs
  sdk/storage/examples/blob_05_default_credential.rs
  sdk/storage/examples/data_lake_00.rs
  sdk/storage/tests/data_lake.rs
Labels: identity

#486 align oauth2 crate's TLS support with reqwest support.
  sdk/core/Cargo.toml
Labels: core

#481 [Identity] Aggregate errors for get_token
  sdk/identity/src/token_credentials/default_credentials.rs
Labels: identity

#498 remove cron schedule
  .github/workflows/services-all-features.yml
Labels: infrastructure

#491 Remove traits AsDataLakeClient and AsFileSystemClient
  sdk/storage/examples/data_lake_00.rs
  sdk/storage/src/data_lake/clients/data_lake_client.rs
  sdk/storage/src/data_lake/clients/file_system_client.rs
  sdk/storage/src/data_lake/clients/mod.rs
  sdk/storage/src/data_lake/requests/list_file_systems_builder.rs
  sdk/storage/tests/data_lake.rs
Labels: storage_datalake

#504 Context as type map
  sdk/core/src/context.rs
  sdk/core/src/pipeline.rs
  sdk/core/src/policies/custom_headers_injector_policy.rs
  sdk/core/src/policies/mod.rs
  sdk/core/src/prelude.rs
  sdk/cosmos/examples/get_database.rs
Labels: ergonomics, core

#350 fix metadata for list blobs not populated
  sdk/storage/src/blob/blob/mod.rs
  sdk/storage/src/blob/blob/responses/list_blobs_response.rs
Labels: storage_blobs, storage

#512 Add 'delete file' operation to data_lake.
  sdk/storage/Cargo.toml
  sdk/storage/examples/data_lake_01_file_create_delete.rs
  sdk/storage/src/data_lake/clients/file_system_client.rs
  sdk/storage/src/data_lake/operations/file_delete.rs
  sdk/storage/src/data_lake/operations/mod.rs
  sdk/storage/tests/data_lake.rs
Labels: storage_datalake

#334 Add KeyVault Certificate Functions
  sdk/security_keyvault/examples/update_secret.rs
  sdk/security_keyvault/src/certificate.rs
  sdk/security_keyvault/src/client.rs
  sdk/security_keyvault/src/key.rs
  sdk/security_keyvault/src/lib.rs
  sdk/security_keyvault/src/secret.rs
  services/mgmt/sqlvirtualmachine/src/package_2017_03_01_preview/models.rs
Labels: keyvault, ready for review

#522 PipelineContext removal
  sdk/core/src/lib.rs
  sdk/core/src/options.rs
  sdk/core/src/pipeline.rs
  sdk/core/src/pipeline_context.rs
  sdk/core/src/policies/custom_headers_injector_policy.rs
  sdk/core/src/policies/mock_transport_player_policy.rs
  sdk/core/src/policies/mock_transport_recorder_policy.rs
  sdk/core/src/policies/mod.rs
  sdk/core/src/policies/retry_policies/no_retry.rs
  sdk/core/src/policies/retry_policies/retry_policy.rs
  sdk/core/src/policies/telemetry_policy.rs
  sdk/core/src/policies/transport.rs
  sdk/cosmos/src/authorization_policy.rs
  sdk/cosmos/src/clients/collection_client.rs
  sdk/cosmos/src/clients/cosmos_client.rs
  sdk/cosmos/src/clients/database_client.rs
  sdk/cosmos/src/clients/document_client.rs
  sdk/cosmos/src/clients/permission_client.rs
  sdk/cosmos/src/clients/user_client.rs
  sdk/storage/src/data_lake/authorization_policy.rs
  sdk/storage/src/data_lake/clients/data_lake_client.rs
  sdk/storage/src/data_lake/clients/file_system_client.rs
Labels: core

#523 Removed Context mutability in pipeline
  sdk/core/src/policies/custom_headers_injector_policy.rs
  sdk/core/src/policies/mock_transport_player_policy.rs
  sdk/core/src/policies/mock_transport_recorder_policy.rs
  sdk/core/src/policies/mod.rs
  sdk/core/src/policies/retry_policies/no_retry.rs
  sdk/core/src/policies/retry_policies/retry_policy.rs
  sdk/core/src/policies/telemetry_policy.rs
  sdk/core/src/policies/transport.rs
  sdk/cosmos/src/authorization_policy.rs
  sdk/storage/src/data_lake/authorization_policy.rs
Labels: core

#524 resolve parameters before codegen
  services/autorust/codegen/src/codegen_operations.rs
  services/autorust/codegen/src/spec.rs
Labels: services

#526 fix default credential builder flags
  sdk/identity/examples/default_credentials.rs
  sdk/identity/src/token_credentials/default_credentials.rs
Labels: identity
