Repository Azure/azure-sdk-for-rust, pull requests merged in 2022-08, with the labels that each got.

#999 generate a small services workspace
  services/autorust/azure-autorust/src/main.rs
Labels: services

#998 make oauth2 an internal dependency of identity
  sdk/identity/examples/client_credentials_flow.rs
  sdk/identity/examples/client_credentials_flow_blob.rs
  sdk/identity/src/client_credentials_flow/mod.rs
  sdk/identity/src/device_code_flow/mod.rs
  sdk/identity/src/refresh_token.rs
  sdk/iot_deviceupdate/Cargo.toml
  sdk/security_keyvault/Cargo.toml
  sdk/storage_blobs/Cargo.toml
  sdk/storage_blobs/examples/device_code_flow.rs
Labels: identity

#1033 fix formatting datetime for SAS generation
  sdk/storage/src/core/shared_access_signature/mod.rs
Labels: storage
