Repository Azure/azure-sdk-for-rust, pull requests merged in 2025-06, with the labels that each got.

#2652 AzureCliCredential::get_token() always invokes the Azure CLI
  sdk/identity/azure_identity/CHANGELOG.md
  sdk/identity/azure_identity/src/credentials/azure_cli_credentials.rs
Labels: Azure.Identity

#2654 Sync eng/common directory with azure-sdk-tools for PR 10755
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#2653 Use SafeDebug for AMQP messages
  sdk/core/azure_core_amqp/CHANGELOG.md
  sdk/core/azure_core_amqp/src/messaging.rs
Labels: Azure.Core

#2660 Sync eng/common directory with azure-sdk-tools for PR 10795
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#2624 Sync eng/common directory with azure-sdk-tools for PR 10694
  eng/common/scripts/common.ps1
Labels: EngSys, Central-EngSys

#2657 Implement Recoverable connection for AMQP operations.
  sdk/core/azure_core_amqp/CHANGELOG.md
  sdk/core/azure_core_amqp/src/cbs.rs
  sdk/core/azure_core_amqp/src/connection.rs
  sdk/core/azure_core_amqp/src/fe2o3/cbs.rs
  sdk/core/azure_core_amqp/src/fe2o3/connection.rs
  sdk/core/azure_core_amqp/src/fe2o3/management.rs
  sdk/core/azure_core_amqp/src/fe2o3/messaging/message_fields.rs
  sdk/core/azure_core_amqp/src/fe2o3/messaging/message_source.rs
  sdk/core/azure_core_amqp/src/fe2o3/messaging/messaging_types.rs
  sdk/core/azure_core_amqp/src/fe2o3/receiver.rs
  sdk/core/azure_core_amqp/src/fe2o3/sender.rs
  sdk/core/azure_core_amqp/src/fe2o3/session.rs
  sdk/core/azure_core_amqp/src/fe2o3/value.rs
  sdk/core/azure_core_amqp/src/management.rs
  sdk/core/azure_core_amqp/src/messaging.rs
  sdk/core/azure_core_amqp/src/noop.rs
  sdk/core/azure_core_amqp/src/receiver.rs
  sdk/core/azure_core_amqp/src/sender.rs
  sdk/core/azure_core_amqp/src/session.rs
  sdk/core/azure_core_amqp/src/value.rs
  sdk/eventhubs/azure_messaging_eventhubs/benches/benchmarks.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/authorizer.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/management.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/recoverable_connection.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/retry.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/consumer/event_receiver.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/consumer/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/error.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/event_processor/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/event_processor/partition_client.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/in_memory_checkpoint_store.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/models/event_data.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/batch.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/test-resources.bicep
  sdk/eventhubs/azure_messaging_eventhubs/tests/eventhubs_property_stress.rs
Labels: Azure.Core

#2666 Condition Send constraint on from_stream
  sdk/core/azure_core/src/http/pager.rs
Labels: Azure.Core

#2675 Prepare core crates for release
  .vscode/cspell.json
  Cargo.toml
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core_amqp/CHANGELOG.md
  sdk/core/azure_core_test/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs/src/event_processor/load_balancer.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/mod.rs
  sdk/typespec/CHANGELOG.md
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_macros/CHANGELOG.md
Labels: Azure.Core

#2682 [Storage] Prepare `azure_storage_blob` for `v0.2.0` release
  sdk/storage/azure_storage_blob/CHANGELOG.md
Labels: Storage

#2690 Add NoFormat response type
  sdk/core/azure_core/src/http/mod.rs
  sdk/typespec/typespec_client_core/src/http/format.rs
Labels: Azure.Core

#2691 Increment versions for storage releases
  Cargo.lock
  sdk/storage/azure_storage_blob/CHANGELOG.md
  sdk/storage/azure_storage_blob/Cargo.toml
Labels: Storage

#2685 Cosmos: update CHANGELOG date
  sdk/cosmos/azure_data_cosmos/CHANGELOG.md
Labels: Cosmos

#2697 Sync eng/common directory with azure-sdk-tools for PR 10857
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Labels: EngSys, Central-EngSys

#2679 Update typespec, core after release
  Cargo.lock
  Cargo.toml
  deny.toml
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core_amqp/CHANGELOG.md
  sdk/core/azure_core_amqp/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs/Cargo.toml
  sdk/typespec/CHANGELOG.md
  sdk/typespec/Cargo.toml
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_macros/CHANGELOG.md
  sdk/typespec/typespec_macros/Cargo.toml
  sdk/typespec/typespec_macros/tests/data/safe-debug-tests/Cargo.lock
Labels: Azure.Core

#2703 Sync eng/common directory with azure-sdk-tools for PR 10886
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Labels: EngSys, Central-EngSys

#2701 Add missing credentials to Identity README
  sdk/identity/azure_identity/README.md
Labels: Azure.Identity

#2718 Sync eng/common directory with azure-sdk-tools for PR 10921
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#2714 Sync eng/common directory with azure-sdk-tools for PR 10913
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#2712 Move process executor from azure_core to azure_identity
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core/src/lib.rs
  sdk/core/azure_core/src/process/mod.rs
  sdk/identity/azure_identity/CHANGELOG.md
  sdk/identity/azure_identity/Cargo.toml
  sdk/identity/azure_identity/src/azure_cli_credential.rs
  sdk/identity/azure_identity/src/azure_developer_cli_credential.rs
  sdk/identity/azure_identity/src/lib.rs
  sdk/identity/azure_identity/src/options.rs
  sdk/identity/azure_identity/src/process/mod.rs
  sdk/identity/azure_identity/src/process/standard.rs
  sdk/identity/azure_identity/src/process/tokio.rs
Labels: Azure.Identity, Azure.Core

#2705 Added if_match_etag to Item Options
  sdk/cosmos/assets.json
  sdk/cosmos/azure_data_cosmos/CHANGELOG.md
  sdk/cosmos/azure_data_cosmos/README.md
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/options/mod.rs
  sdk/cosmos/azure_data_cosmos/tests/cosmos_items.rs
Labels: Cosmos, Community Contribution, customer-reported

#2717 [Storage] `list_containers` for BlobServiceClient
  sdk/storage/assets.json
  sdk/storage/azure_storage_blob/src/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/header_traits.rs
  sdk/storage/azure_storage_blob/src/lib.rs
  sdk/storage/azure_storage_blob/tests/blob_service_client.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
Labels: Storage

#2722 Sync eng/common directory with azure-sdk-tools for PR 10949
  eng/common/pipelines/templates/jobs/npm-publish.yml
  eng/common/pipelines/templates/steps/create-authenticated-npmrc.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Labels: EngSys, Central-EngSys

#2723 Enable live tests for Storage
  sdk/storage/ci.yml
Labels: Storage

#2724 Sync eng/common directory with azure-sdk-tools for PR 10953
  eng/common/pipelines/codeowners-linter.yml
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/docindex.yml
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
Labels: EngSys, Central-EngSys

#2727 Update typespec-rust to 0.17.0
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/clients/certificate_client.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/models/models_serde.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/models/pub_models.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/clients/key_client.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/models/pub_models.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/clients/secret_client.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/models/pub_models.rs
  sdk/storage/azure_storage_blob/src/generated/clients/append_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/page_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/header_traits.rs
  sdk/storage/azure_storage_blob/src/generated/models/method_options.rs
  sdk/storage/azure_storage_blob/src/generated/models/models_serde.rs
  sdk/storage/azure_storage_blob/src/generated/models/pub_models.rs
Labels: Storage

#2726 Sync eng/common directory with azure-sdk-tools for PR 10969
  eng/common/mcp/azure-sdk-mcp.ps1
Labels: EngSys, Central-EngSys

#2734 Pin the test broker to a specific hash
  sdk/core/azure_core_amqp/Test-Setup.ps1
Labels: Azure.Core

#2728 Define API surface distributed tracing and implement OpenTelemetry tracer
  .vscode/cspell.json
  Cargo.lock
  Cargo.toml
  eng/scripts/verify-dependencies.rs
  sdk/core/azure_core/src/lib.rs
  sdk/core/azure_core_opentelemetry/Cargo.toml
  sdk/core/azure_core_opentelemetry/README.md
  sdk/core/azure_core_opentelemetry/examples/basic_usage.rs
  sdk/core/azure_core_opentelemetry/src/attributes.rs
  sdk/core/azure_core_opentelemetry/src/lib.rs
  sdk/core/azure_core_opentelemetry/src/span.rs
  sdk/core/azure_core_opentelemetry/src/telemetry.rs
  sdk/core/azure_core_opentelemetry/src/tracer.rs
  sdk/core/azure_core_opentelemetry/tests/integration_test.rs
  sdk/typespec/typespec_client_core/src/lib.rs
  sdk/typespec/typespec_client_core/src/tracing/attributes.rs
  sdk/typespec/typespec_client_core/src/tracing/mod.rs
  sdk/typespec/typespec_client_core/src/tracing/with_context.rs
Labels: Azure.Core

#2740 Sync eng/common directory with azure-sdk-tools for PR 10964
  eng/common/TestResources/deploy-test-resources.yml
Labels: EngSys, Central-EngSys

#2742 Sync eng/common directory with azure-sdk-tools for PR 11039
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Labels: EngSys, Central-EngSys
