Repository Azure/azure-sdk-for-rust, pull requests merged in 2025-04, with the labels that each got.

#2422 Sync eng/common directory with azure-sdk-tools for PR 10176
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#2410 Sync eng/common directory with azure-sdk-tools for PR 10038
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#2413 Create EventHubs processor
  Cargo.lock
  sdk/core/azure_core_amqp/CHANGELOG.md
  sdk/core/azure_core_amqp/src/error.rs
  sdk/core/azure_core_amqp/src/fe2o3/connection.rs
  sdk/core/azure_core_amqp/src/fe2o3/messaging/message_fields.rs
  sdk/core/azure_core_amqp/src/fe2o3/messaging/mod.rs
  sdk/core/azure_core_amqp/src/fe2o3/value.rs
  sdk/core/azure_core_amqp/src/messaging.rs
  sdk/core/azure_core_amqp/src/receiver.rs
  sdk/core/azure_core_amqp/src/session.rs
  sdk/core/azure_core_amqp/src/value.rs
  sdk/eventhubs/azure_messaging_eventhubs/CHANGELOG.md
  sdk/eventhubs/azure_messaging_eventhubs/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs/README.md
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_batch_produce_events.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_consume_events.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_consume_messages.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_partition_properties.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_processor_client.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_produce_events.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_produce_messages.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_properties.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/connection_manager.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/consumer/README.md
  sdk/eventhubs/azure_messaging_eventhubs/src/consumer/event_receiver.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/consumer/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/event_processor/load_balancer.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/event_processor/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/event_processor/models.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/event_processor/partition_client.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/event_processor/processor.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/in_memory_checkpoint_store.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/lib.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/models/event_data.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/models/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/batch.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/test-resources.json
  sdk/eventhubs/azure_messaging_eventhubs/tests/checkpoint_store.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/common/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/consumer.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/processor.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/producer.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/round_trip.rs
Labels: Azure.Core

#2427 Sync eng/common directory with azure-sdk-tools for PR 10191
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#2426 Sync eng/common directory with azure-sdk-tools for PR 10184
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#2428 Sync eng/common directory with azure-sdk-tools for PR 10190
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Labels: EngSys, Central-EngSys

#2430 Sync eng/common directory with azure-sdk-tools for PR 10206
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#2409 Move managed identity credentials behind ManagedIdentityCredential
  sdk/identity/.dict.txt
  sdk/identity/azure_identity/CHANGELOG.md
  sdk/identity/azure_identity/README.md
  sdk/identity/azure_identity/examples/specific_credential.rs
  sdk/identity/azure_identity/src/credentials/app_service_managed_identity_credential.rs
  sdk/identity/azure_identity/src/credentials/imds_managed_identity_credentials.rs
  sdk/identity/azure_identity/src/credentials/mod.rs
  sdk/identity/azure_identity/src/lib.rs
  sdk/identity/azure_identity/src/managed_identity_credential.rs
Labels: Azure.Identity

#2433 Sync eng/common directory with azure-sdk-tools for PR 10182
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Labels: EngSys, Central-EngSys

#2431 [Storage] `azure_storage_blob` release prep (+ `delete()` for `BlobClient`)
  sdk/storage/.dict.txt
  sdk/storage/assets.json
  sdk/storage/azure_storage_blob/CHANGELOG.md
  sdk/storage/azure_storage_blob/README.md
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/lib.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
Labels: Storage

#2442 [Storage] `azure_storage_blob` release documentation nits
  Cargo.lock
  sdk/storage/README.md
  sdk/storage/azure_storage_blob/Cargo.toml
  sdk/storage/azure_storage_blob/README.md
  sdk/storage/azure_storage_blob/src/lib.rs
  sdk/storage/azure_storage_common/README.md
Labels: Storage

#2444 Sync eng/common directory with azure-sdk-tools for PR 10238
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#2443 Remove azure_identity's old_azure_cli feature
  Cargo.lock
  Cargo.toml
  eng/dict/crates.txt
  sdk/identity/azure_identity/CHANGELOG.md
  sdk/identity/azure_identity/Cargo.toml
  sdk/identity/azure_identity/src/credentials/azure_cli_credentials.rs
Labels: Azure.Identity

#2448 Prepare typespec and azure_core crates for release
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core_amqp/CHANGELOG.md
  sdk/typespec/CHANGELOG.md
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_macros/CHANGELOG.md
Labels: Azure.Core

#2438 Add ClientSecretCredential
  sdk/identity/.dict.txt
  sdk/identity/azure_identity/CHANGELOG.md
  sdk/identity/azure_identity/src/client_secret_credential.rs
  sdk/identity/azure_identity/src/credentials/client_certificate_credentials.rs
  sdk/identity/azure_identity/src/lib.rs
Labels: Azure.Identity

#2449 Sync eng/common directory with azure-sdk-tools for PR 10241
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#2453 [Storage] Add description required by crates.io
  sdk/storage/azure_storage_blob/Cargo.toml
Labels: Storage

#2457 Sync eng/common directory with azure-sdk-tools for PR 10246
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#2456 Increment versions for storage releases
  Cargo.lock
  sdk/storage/azure_storage_blob/CHANGELOG.md
  sdk/storage/azure_storage_blob/Cargo.toml
Labels: Storage

#2390 Handle MsiTokenResponse::expires_on being an int or string.
  sdk/identity/azure_identity/CHANGELOG.md
  sdk/identity/azure_identity/src/credentials/imds_managed_identity_credentials.rs
Labels: Azure.Identity, customer-reported

#2455 Prepare azure_identity 0.23.0 for release
  sdk/identity/azure_identity/CHANGELOG.md
Labels: Azure.Identity

#2463 Increment versions for identity releases
  Cargo.lock
  sdk/identity/azure_identity/CHANGELOG.md
  sdk/identity/azure_identity/Cargo.toml
Labels: Azure.Identity

#2478 Sync eng/common directory with azure-sdk-tools for PR 10293
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#2477 [Storage] Add `set_metadata` to BlobClient
  sdk/storage/assets.json
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/header_traits.rs
  sdk/storage/azure_storage_blob/src/generated/models/pub_models.rs
  sdk/storage/azure_storage_blob/src/lib.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
Labels: Storage

#2466 [Storage] `set_properties` for `BlobClient`
  sdk/storage/assets.json
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/header_traits.rs
  sdk/storage/azure_storage_blob/src/generated/models/method_options.rs
  sdk/storage/azure_storage_blob/src/generated/models/pub_models.rs
  sdk/storage/azure_storage_blob/src/lib.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
Labels: Storage

#2488 Sync eng/common directory with azure-sdk-tools for PR 10314
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#2486 Allow direct dependency exemptions
  eng/scripts/Analyze-Code.ps1
  eng/scripts/verify-dependencies.rs
Labels: Azure.Core

#2483 Rename examples and integration tests per guidelines
  sdk/core/azure_core_amqp/examples/amqp_connection.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/eventhubs_checkpoint_store.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/eventhubs_consumer.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/eventhubs_processor.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/eventhubs_producer.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/eventhubs_round_trip.rs
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/examples/core_binary_data_request.rs
  sdk/typespec/typespec_client_core/examples/core_stream_response.rs
Labels: Azure.Core

#2493 Sync eng/common directory with azure-sdk-tools for PR 10345
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#2393 [Cosmos] Refactor query responses to their own Pager and Page types
  sdk/core/azure_core/src/http/pager.rs
  sdk/cosmos/azure_data_cosmos/CHANGELOG.md
  sdk/cosmos/azure_data_cosmos/examples/cosmos/query.rs
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/clients/cosmos_client.rs
  sdk/cosmos/azure_data_cosmos/src/clients/database_client.rs
  sdk/cosmos/azure_data_cosmos/src/feed.rs
  sdk/cosmos/azure_data_cosmos/src/lib.rs
  sdk/cosmos/azure_data_cosmos/src/pipeline/mod.rs
  sdk/cosmos/azure_data_cosmos/tests/cosmos_containers.rs
  sdk/cosmos/azure_data_cosmos/tests/cosmos_databases.rs
  sdk/cosmos/azure_data_cosmos/tests/cosmos_query.rs
  sdk/cosmos/azure_data_cosmos/tests/framework/test_account.rs
Labels: Cosmos, Azure.Core

#2496 Refactor WorkloadIdentityCredential construction
  sdk/identity/azure_identity/CHANGELOG.md
  sdk/identity/azure_identity/examples/specific_credential.rs
  sdk/identity/azure_identity/src/credentials/client_assertion_credentials.rs
  sdk/identity/azure_identity/src/credentials/workload_identity_credentials.rs
Labels: Azure.Identity

#2492 [Storage] [BlobClient] `set_tier` (standard tiers only)
  sdk/storage/assets.json
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/lib.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
Labels: Storage

#2497 Remove azure_identity's from_env() constructors
  sdk/identity/azure_identity/CHANGELOG.md
  sdk/identity/azure_identity/src/credentials/client_assertion_credentials.rs
  sdk/identity/azure_identity/src/credentials/client_certificate_credentials.rs
Labels: Azure.Identity

#2499 Sync eng/common directory with azure-sdk-tools for PR 10287
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#2487 Support .env files for testing
  Cargo.lock
  eng/dict/crates.txt
  eng/scripts/verify-dependencies.rs
  sdk/core/azure_core_test/Cargo.toml
  sdk/core/azure_core_test/src/recorded.rs
Labels: Azure.Core

#2507 Sync eng/common directory with azure-sdk-tools for PR 10400
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#2500 Remove federated_credentials_flow
  sdk/identity/azure_identity/src/client_secret_credential.rs
  sdk/identity/azure_identity/src/credentials/client_assertion_credentials.rs
  sdk/identity/azure_identity/src/federated_credentials_flow/mod.rs
  sdk/identity/azure_identity/src/federated_credentials_flow/response.rs
  sdk/identity/azure_identity/src/lib.rs
Labels: Azure.Identity

#2502 [Storage] Navigation Methods Between Clients + Storage Test Helpers
  sdk/storage/assets.json
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
  sdk/storage/azure_storage_blob/tests/blob_container_client.rs
  sdk/storage/azure_storage_blob/tests/blob_service_client.rs
  sdk/storage/azure_storage_blob_test/src/lib.rs
Labels: Storage

#2518 Sync eng/common directory with azure-sdk-tools for PR 10432
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Labels: EngSys, Central-EngSys

#2520 Sync eng/common directory with azure-sdk-tools for PR 10411
  eng/common/scripts/Package-Properties.ps1
Labels: EngSys, Central-EngSys

#2476 Implement EventHubs token refresh
  Cargo.lock
  sdk/core/azure_core/src/lib.rs
  sdk/core/azure_core/src/process/standard.rs
  sdk/core/azure_core/src/task/mod.rs
  sdk/core/azure_core/src/task/standard_spawn.rs
  sdk/core/azure_core/src/task/tests.rs
  sdk/core/azure_core/src/task/tokio_spawn.rs
  sdk/core/azure_core_amqp/Cargo.toml
  sdk/core/azure_core_amqp/src/cbs.rs
  sdk/core/azure_core_amqp/src/connection.rs
  sdk/core/azure_core_amqp/src/fe2o3/cbs.rs
  sdk/core/azure_core_amqp/src/fe2o3/connection.rs
  sdk/core/azure_core_amqp/src/fe2o3/management.rs
  sdk/core/azure_core_amqp/src/fe2o3/receiver.rs
  sdk/core/azure_core_amqp/src/fe2o3/sender.rs
  sdk/core/azure_core_amqp/src/fe2o3/session.rs
  sdk/core/azure_core_amqp/src/management.rs
  sdk/core/azure_core_amqp/src/noop.rs
  sdk/core/azure_core_amqp/src/receiver.rs
  sdk/core/azure_core_amqp/src/sender.rs
  sdk/core/azure_core_amqp/src/session.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/connection_manager.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/consumer/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/error.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/event_processor/load_balancer.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/mod.rs
Labels: Azure.Core

#2524 Sync eng/common directory with azure-sdk-tools for PR 10461
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#2522 Perf test framework
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  eng/tools/generate_api_report/Cargo.toml
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core/README.md
  sdk/core/azure_core/benches/benchmarks.rs
  sdk/core/azure_core/perf-tests.yml
Labels: Azure.Core

#2526 Sync eng/common directory with azure-sdk-tools for PR 10481
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#2525 [Storage] Improve Storage test utilities and refactor navigation methods
  sdk/storage/assets.json
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
  sdk/storage/azure_storage_blob/tests/blob_container_client.rs
  sdk/storage/azure_storage_blob_test/src/lib.rs
Labels: Storage

#2531 Sync eng/common directory with azure-sdk-tools for PR 10491
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#2537 Sync eng/common directory with azure-sdk-tools for PR 10482
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#2535 First pipeline sample
  eng/pipelines/templates/jobs/perf.yml
  sdk/core/perf-tests.yml
  sdk/core/perf.yml
Labels: Azure.Core

#2340 Run `cargo deny check` in Analyze job
  .vscode/cspell.json
  Cargo.lock
  deny.toml
  eng/dict/rust-custom.txt
  eng/pipelines/templates/jobs/analyze.yml
  eng/scripts/Analyze-Code.ps1
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core/README.md
  sdk/typespec/Cargo.toml
  sdk/typespec/README.md
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/README.md
Labels: EngSys

#2538 Sync eng/common directory with azure-sdk-tools for PR 10470
  eng/common/mcp/README.md
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
  eng/common/testproxy/install-test-proxy.ps1
  eng/common/testproxy/test-proxy.ps1
Labels: EngSys, Central-EngSys

#2536 Sync .github/workflows directory with azure-sdk-tools for PR 10483
  .github/workflows/scheduled-event-processor.yml
Labels: EngSys, Central-EngSys
