Repository Azure/azure-sdk-for-rust, pull requests merged in 2025-10, with the labels that each got.

#3077 Sync eng/common directory with azure-sdk-tools for PR 12293
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#3078 Ensure azure_identity docs include ClientCertificateCredential
  sdk/identity/azure_identity/Cargo.toml
  sdk/identity/azure_identity/README.md
Labels: Azure.Identity

#3086 Sync eng/common directory with azure-sdk-tools for PR 10858
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Labels: EngSys, Central-EngSys

#3091 Sync eng/common directory with azure-sdk-tools for PR 12325
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Labels: EngSys, Central-EngSys

#3093 Renamed cplusplus feature to ffi
  sdk/core/azure_core_amqp/CHANGELOG.md
  sdk/core/azure_core_amqp/Cargo.toml
  sdk/core/azure_core_amqp/src/fe2o3/value.rs
  sdk/core/azure_core_amqp/src/lib.rs
  sdk/core/azure_core_amqp/src/messaging.rs
  sdk/core/azure_core_amqp/src/value.rs
Labels: Azure.Core

#3102 Borrow self in RawResponse, remote into_stream
  sdk/core/azure_core/CHANGELOG.md
  sdk/cosmos/azure_data_cosmos/tests/cosmos_items.rs
  sdk/storage/azure_storage_blob/tests/streaming.rs
  sdk/typespec/src/http/response.rs
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_client_core/examples/core_stream_response.rs
  sdk/typespec/typespec_client_core/src/http/response.rs
Labels: Cosmos, Storage, Azure.Core

#3111 Sync eng/common directory with azure-sdk-tools for PR 12337
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
Labels: EngSys, Central-EngSys

#3119 [Storage] Prep changelog for `v0.6.0` release `azure-storage-blob` crate
  sdk/storage/azure_storage_blob/CHANGELOG.md
Labels: Storage

#3121 Increment versions for storage releases
  Cargo.lock
  Cargo.toml
  sdk/storage/azure_storage_blob/CHANGELOG.md
  sdk/storage/azure_storage_blob/Cargo.toml
Labels: Storage

#3116 cosmos: Changelog prep for 0.28 release
  sdk/cosmos/azure_data_cosmos/CHANGELOG.md
Labels: Cosmos

#3120 Release patch semver for core crates
  Cargo.lock
  Cargo.toml
  eng/pipelines/templates/jobs/analyze.yml
  eng/scripts/Analyze-Code.ps1
  sdk/canary/azure_canary_core/src/lib.rs
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core/README.md
  sdk/core/azure_core/src/lib.rs
  sdk/core/azure_core_amqp/CHANGELOG.md
  sdk/core/azure_core_amqp/Cargo.toml
  sdk/core/azure_core_amqp/src/lib.rs
  sdk/core/azure_core_macros/CHANGELOG.md
  sdk/core/azure_core_macros/Cargo.toml
  sdk/core/azure_core_macros/src/lib.rs
  sdk/core/azure_core_opentelemetry/CHANGELOG.md
  sdk/core/azure_core_opentelemetry/Cargo.toml
  sdk/core/azure_core_opentelemetry/src/lib.rs
  sdk/cosmos/azure_data_cosmos/src/lib.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/lib.rs
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/src/lib.rs
  sdk/identity/azure_identity/src/lib.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/lib.rs
  sdk/keyvault/azure_security_keyvault_keys/src/lib.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/lib.rs
  sdk/servicebus/azure_messaging_servicebus/src/lib.rs
  sdk/storage/azure_storage_blob/src/lib.rs
  sdk/typespec/CHANGELOG.md
  sdk/typespec/Cargo.toml
  sdk/typespec/README.md
  sdk/typespec/src/lib.rs
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/README.md
  sdk/typespec/typespec_client_core/src/lib.rs
  sdk/typespec/typespec_macros/CHANGELOG.md
  sdk/typespec/typespec_macros/Cargo.toml
  sdk/typespec/typespec_macros/src/lib.rs
Labels: Cosmos, Storage, Azure.Identity, Azure.Core, KeyVault

#3085 Sync eng/common directory with azure-sdk-tools for PR 12301
  eng/common/pipelines/templates/steps/set-vcpkg-cache-vars.yml
  eng/common/scripts/Set-VcpkgWriteModeCache.ps1
Labels: EngSys, Central-EngSys

#3139 Sync eng/common directory with azure-sdk-tools for PR 11692
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#3145 Revert "ESRP publishing (#3065)"
  eng/pipelines/templates/jobs/pack.yml
  eng/pipelines/templates/stages/archetype-rust-release.yml
  eng/pipelines/templates/stages/archetype-sdk-client.yml
  eng/scripts/Language-Settings.ps1
  eng/scripts/Pack-Crates.ps1
  sdk/canary/ci.yml
  sdk/core/ci.yml
  sdk/cosmos/ci.yml
  sdk/eventhubs/ci.yml
  sdk/identity/ci.yml
  sdk/keyvault/ci.yml
  sdk/servicebus/ci.yml
  sdk/storage/ci.yml
  sdk/typespec/ci.yml
Labels: Cosmos, Storage, Azure.Identity, Azure.Core, KeyVault

#3146 Increment versions for keyvault releases
  Cargo.lock
  sdk/keyvault/azure_security_keyvault_certificates/CHANGELOG.md
  sdk/keyvault/azure_security_keyvault_certificates/Cargo.toml
  sdk/keyvault/azure_security_keyvault_keys/CHANGELOG.md
  sdk/keyvault/azure_security_keyvault_keys/Cargo.toml
  sdk/keyvault/azure_security_keyvault_secrets/CHANGELOG.md
  sdk/keyvault/azure_security_keyvault_secrets/Cargo.toml
Labels: KeyVault
