Repository Azure/azure-sdk-for-rust, pull requests merged in 2025-05, with the labels that each got.

#2544 Added retry support to EventHubs client
  Cargo.lock
  sdk/core/azure_core_amqp/Cargo.toml
  sdk/core/azure_core_amqp/src/error.rs
  sdk/core/azure_core_amqp/src/fe2o3/cbs.rs
  sdk/core/azure_core_amqp/src/fe2o3/connection.rs
  sdk/core/azure_core_amqp/src/fe2o3/error.rs
  sdk/core/azure_core_amqp/src/fe2o3/management.rs
  sdk/core/azure_core_amqp/src/fe2o3/receiver.rs
  sdk/core/azure_core_amqp/src/fe2o3/sender.rs
  sdk/core/azure_core_amqp/src/fe2o3/session.rs
  sdk/core/azure_core_amqp/src/sender.rs
  sdk/eventhubs/azure_messaging_eventhubs/CHANGELOG.md
  sdk/eventhubs/azure_messaging_eventhubs/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs/README.md
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_batch_produce_events.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_consume_events.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_consume_messages.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_partition_properties.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_processor_client.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_produce_events.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_produce_messages.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_properties.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/connection_manager.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/management.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/retry.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/consumer/README.md
  sdk/eventhubs/azure_messaging_eventhubs/src/consumer/event_receiver.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/consumer/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/event_processor/processor.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/lib.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/models/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/batch.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/eventhubs_consumer.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/eventhubs_processor.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/eventhubs_producer.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/eventhubs_property_stress.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/eventhubs_round_trip.rs
Labels: Azure.Core

#2539 [Storage] Handwritten `BlockBlobClient`
  sdk/storage/assets.json
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/src/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/mod.rs
  sdk/storage/azure_storage_blob/src/lib.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
  sdk/storage/azure_storage_blob/tests/block_blob_client.rs
Labels: Storage

#2519 Add AzureDeveloperCliCredential
  sdk/identity/azure_identity/CHANGELOG.md
  sdk/identity/azure_identity/src/azure_developer_cli_credential.rs
  sdk/identity/azure_identity/src/lib.rs
Labels: Azure.Identity

#2547 Update to @azure-tools/typespec-rust@0.14.0
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/keyvault/azure_security_keyvault_certificates/README.md
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/clients/certificate_client.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/models/models_serde.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/models/pub_models.rs
  sdk/keyvault/azure_security_keyvault_certificates/tests/certificate_client.rs
  sdk/keyvault/azure_security_keyvault_keys/README.md
  sdk/keyvault/azure_security_keyvault_keys/src/generated/clients/key_client.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/models/pub_models.rs
  sdk/keyvault/azure_security_keyvault_keys/tests/key_client.rs
  sdk/keyvault/azure_security_keyvault_secrets/README.md
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/clients/secret_client.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/models/pub_models.rs
  sdk/keyvault/azure_security_keyvault_secrets/tests/secret_client.rs
  sdk/storage/azure_storage_blob/src/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/append_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/page_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/crate_models.rs
  sdk/storage/azure_storage_blob/src/generated/models/method_options.rs
  sdk/storage/azure_storage_blob/src/generated/models/models_serde.rs
  sdk/storage/azure_storage_blob/src/generated/models/pub_models.rs
  sdk/storage/azure_storage_blob/src/generated/models/xml_helpers.rs
  sdk/storage/azure_storage_blob/tests/block_blob_client.rs
Labels: Storage

#2552 Sync eng/common directory with azure-sdk-tools for PR 10523
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#2553 Prepare for May core release
  .vscode/cspell.json
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core_amqp/CHANGELOG.md
  sdk/typespec/CHANGELOG.md
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_macros/CHANGELOG.md
Labels: Azure.Core

#2546 Added EventHubs sample which logs `tracing_subscriber` messages to the EventHubs service.
  sdk/core/azure_core_amqp/src/error.rs
  sdk/core/azure_core_amqp/src/fe2o3/cbs.rs
  sdk/core/azure_core_amqp/src/fe2o3/value.rs
  sdk/core/azure_core_amqp/src/value.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_tracing_subscriber.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/connection_manager.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/management.rs
Labels: Azure.Core

#2563 Add azd credential to DefaultAzureCredential
  sdk/identity/azure_identity/CHANGELOG.md
  sdk/identity/azure_identity/src/azure_developer_cli_credential.rs
  sdk/identity/azure_identity/src/credentials/default_azure_credentials.rs
Labels: Azure.Identity

#2564 Sync eng/common directory with azure-sdk-tools for PR 10542
  eng/common/scripts/Test-SampleMetadata.ps1
Labels: EngSys, Central-EngSys

#2561 Prepare azure_identity 0.24.0 for release
  sdk/identity/azure_identity/CHANGELOG.md
Labels: Azure.Identity

#2565 Sync eng/common directory with azure-sdk-tools for PR 10534
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#2567 Increment versions for identity releases
  Cargo.lock
  sdk/identity/azure_identity/CHANGELOG.md
  sdk/identity/azure_identity/Cargo.toml
Labels: Azure.Identity

#2569 Prepare for May Cosmos release
  sdk/cosmos/azure_data_cosmos/CHANGELOG.md
Labels: Cosmos

#2572 Increment versions for cosmos releases
  Cargo.lock
  sdk/cosmos/azure_data_cosmos/CHANGELOG.md
  sdk/cosmos/azure_data_cosmos/Cargo.toml
Labels: Cosmos

#2548 Sync eng/common directory with azure-sdk-tools for PR 10518
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#2580 Set AMQP version to 0.3.1
  Cargo.lock
  Cargo.toml
  sdk/core/azure_core_amqp/Cargo.toml
Labels: Azure.Core

#2581 Updated changelog
  sdk/core/azure_core_amqp/CHANGELOG.md
Labels: Azure.Core

#2592 Update versions for azure_core_amqp, azure_messaging_eventhubs
  Cargo.lock
  Cargo.toml
  sdk/core/azure_core_amqp/CHANGELOG.md
  sdk/core/azure_core_amqp/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs/CHANGELOG.md
  sdk/eventhubs/azure_messaging_eventhubs/Cargo.toml
Labels: Azure.Core

#2582 Sync eng/common directory with azure-sdk-tools for PR 10579
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/README.md
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/TestResources-Helpers.ps1
  eng/common/scripts/common.ps1
  eng/scripts/Language-Settings.ps1
Labels: EngSys, Central-EngSys

#2593 Sync eng/common directory with azure-sdk-tools for PR 10593
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#2599 Sync eng/common directory with azure-sdk-tools for PR 10611
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Labels: EngSys, Central-EngSys

#2600 Sync eng/common directory with azure-sdk-tools for PR 10615
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#2595 Do not use workspace dependency for AMQP, EH
  Cargo.toml
  sdk/core/azure_core_amqp/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs/Cargo.toml
Labels: Azure.Core

#2594 Added `AmqpSimpleValue` to enable compile time checks on AmqpApplicationProperties; Reworked type conversions to remove unnecessary clones.
  sdk/core/azure_core_amqp/src/fe2o3/connection.rs
  sdk/core/azure_core_amqp/src/fe2o3/error.rs
  sdk/core/azure_core_amqp/src/fe2o3/management.rs
  sdk/core/azure_core_amqp/src/fe2o3/messaging/message_fields.rs
  sdk/core/azure_core_amqp/src/fe2o3/messaging/message_source.rs
  sdk/core/azure_core_amqp/src/fe2o3/messaging/messaging_types.rs
  sdk/core/azure_core_amqp/src/fe2o3/messaging/mod.rs
  sdk/core/azure_core_amqp/src/fe2o3/receiver.rs
  sdk/core/azure_core_amqp/src/fe2o3/sender.rs
  sdk/core/azure_core_amqp/src/fe2o3/session.rs
  sdk/core/azure_core_amqp/src/fe2o3/value.rs
  sdk/core/azure_core_amqp/src/lib.rs
  sdk/core/azure_core_amqp/src/management.rs
  sdk/core/azure_core_amqp/src/messaging.rs
  sdk/core/azure_core_amqp/src/noop.rs
  sdk/core/azure_core_amqp/src/simple_value.rs
  sdk/core/azure_core_amqp/src/value.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_tracing_subscriber.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/management.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/models/event_data.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/models/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/eventhubs_producer.rs
Labels: Azure.Core

#2577 [Cosmos] Cross-Partition queries, with optional external Query Engine integration
  eng/dict/rust-custom.txt
  sdk/core/azure_core/src/http/pager.rs
  sdk/cosmos/assets.json
  sdk/cosmos/azure_data_cosmos/Cargo.toml
  sdk/cosmos/azure_data_cosmos/examples/cosmos/query.rs
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/clients/cosmos_client.rs
  sdk/cosmos/azure_data_cosmos/src/clients/database_client.rs
  sdk/cosmos/azure_data_cosmos/src/constants.rs
  sdk/cosmos/azure_data_cosmos/src/feed.rs
  sdk/cosmos/azure_data_cosmos/src/lib.rs
  sdk/cosmos/azure_data_cosmos/src/options/mod.rs
  sdk/cosmos/azure_data_cosmos/src/partition_key.rs
  sdk/cosmos/azure_data_cosmos/src/pipeline/mod.rs
  sdk/cosmos/azure_data_cosmos/src/query/engine.rs
  sdk/cosmos/azure_data_cosmos/src/query/executor.rs
  sdk/cosmos/azure_data_cosmos/src/query/mod.rs
  sdk/cosmos/azure_data_cosmos/tests/cosmos_containers.rs
  sdk/cosmos/azure_data_cosmos/tests/cosmos_databases.rs
  sdk/cosmos/azure_data_cosmos/tests/cosmos_items.rs
  sdk/cosmos/azure_data_cosmos/tests/cosmos_query.rs
  sdk/cosmos/azure_data_cosmos/tests/framework/mod.rs
  sdk/cosmos/azure_data_cosmos/tests/framework/query_engine.rs
  sdk/cosmos/azure_data_cosmos/tests/framework/test_data/mod.rs
  sdk/cosmos/azure_data_cosmos/tests/query_engine.rs
Labels: Cosmos, Azure.Core

#2549 Sync eng/common directory with azure-sdk-tools for PR 10522
  eng/common/pipelines/templates/steps/check-spelling.yml
Labels: EngSys, Central-EngSys

#2603 Delete azure_identity dead code
  Cargo.lock
  Cargo.toml
  eng/dict/crates.txt
  sdk/identity/azure_identity/Cargo.toml
  sdk/identity/azure_identity/src/authorization_code_flow.rs
  sdk/identity/azure_identity/src/chained_token_credential.rs
  sdk/identity/azure_identity/src/credentials/cache.rs
  sdk/identity/azure_identity/src/lib.rs
  sdk/identity/azure_identity/src/oauth2_http_client.rs
  sdk/identity/azure_identity/src/refresh_token.rs
Labels: Azure.Identity

#2607 Sync eng/common directory with azure-sdk-tools for PR 10550
  eng/common/TestResources/TestResources-Helpers.ps1
Labels: EngSys, Central-EngSys

#2610 Sync eng/common directory with azure-sdk-tools for PR 10664
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#2614 Sync eng/common directory with azure-sdk-tools for PR 10665
  eng/common/mcp/azure-sdk-mcp.ps1
Labels: EngSys, Central-EngSys

#2618 Sync eng/common directory with azure-sdk-tools for PR 10657
  eng/common/pipelines/templates/steps/save-package-properties.yml
Labels: EngSys, Central-EngSys

#2619 Add CHANGELOG.md entries for `#[safe]` attribute helper
  sdk/core/azure_core/CHANGELOG.md
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_macros/CHANGELOG.md
Labels: Azure.Core

#2608 Expose more types for C++; reorganized some public types a bit
  sdk/core/azure_core_amqp/src/error.rs
  sdk/core/azure_core_amqp/src/fe2o3/error.rs
  sdk/core/azure_core_amqp/src/fe2o3/messaging/mod.rs
  sdk/core/azure_core_amqp/src/lib.rs
  sdk/core/azure_core_amqp/src/messaging.rs
  sdk/core/azure_core_amqp/src/value.rs
  sdk/eventhubs/azure_messaging_eventhubs/benches/benchmarks.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/consumer/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/models/event_data.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/models/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/eventhubs_producer.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/eventhubs_round_trip.rs
Labels: Azure.Core

#2611 Remove AccessToken::is_expired()
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/src/credentials.rs
  sdk/core/azure_core/src/http/policies/bearer_token_policy.rs
  sdk/identity/azure_identity/src/credentials/cache.rs
Labels: Azure.Identity, Azure.Core

#2560 AzureCliCredential consistently invokes az within a shell
  sdk/identity/.dict.txt
  sdk/identity/azure_identity/CHANGELOG.md
  sdk/identity/azure_identity/src/azure_developer_cli_credential.rs
  sdk/identity/azure_identity/src/credentials/azure_cli_credentials.rs
  sdk/identity/azure_identity/src/env.rs
  sdk/identity/azure_identity/src/lib.rs
  sdk/identity/azure_identity/src/process/mod.rs
Labels: Azure.Identity

#2627 Sync eng/common directory with azure-sdk-tools for PR 10718
  eng/common/scripts/Detect-Api-Changes.ps1
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Labels: EngSys, Central-EngSys

#2626 Add serde helper for string format
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_client_core/src/fmt.rs
Labels: Azure.Core

#2632 Sync eng/common directory with azure-sdk-tools for PR 10733
  eng/common/mcp/README.md
Labels: EngSys, Central-EngSys

#2633 Sync eng/common directory with azure-sdk-tools for PR 10736
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Labels: EngSys, Central-EngSys

#2639 Sync .github/workflows directory with azure-sdk-tools for PR 10752
  .github/workflows/event-processor.yml
Labels: EngSys, Central-EngSys

#2647 Sync eng/common directory with azure-sdk-tools for PR 10765
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#2629 Add GetTokenOptions
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core/src/credentials.rs
  sdk/core/azure_core/src/http/policies/bearer_token_policy.rs
  sdk/core/azure_core_test/src/credentials.rs
  sdk/cosmos/azure_data_cosmos/src/pipeline/authorization_policy.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/connection_manager.rs
  sdk/identity/azure_identity/README.md
  sdk/identity/azure_identity/examples/azure_cli_credentials.rs
  sdk/identity/azure_identity/examples/default_credentials.rs
  sdk/identity/azure_identity/examples/specific_credential.rs
  sdk/identity/azure_identity/src/azure_developer_cli_credential.rs
  sdk/identity/azure_identity/src/azure_pipelines_credential.rs
  sdk/identity/azure_identity/src/client_secret_credential.rs
  sdk/identity/azure_identity/src/credentials/app_service_managed_identity_credential.rs
  sdk/identity/azure_identity/src/credentials/azure_cli_credentials.rs
  sdk/identity/azure_identity/src/credentials/cache.rs
  sdk/identity/azure_identity/src/credentials/client_assertion_credentials.rs
  sdk/identity/azure_identity/src/credentials/client_certificate_credentials.rs
  sdk/identity/azure_identity/src/credentials/default_azure_credentials.rs
  sdk/identity/azure_identity/src/credentials/imds_managed_identity_credentials.rs
  sdk/identity/azure_identity/src/credentials/virtual_machine_managed_identity_credential.rs
  sdk/identity/azure_identity/src/credentials/workload_identity_credentials.rs
  sdk/identity/azure_identity/src/managed_identity_credential.rs
Labels: Cosmos, Azure.Identity, Azure.Core
