Repository Azure/azure-sdk-for-rust, pull requests merged in 2025-09, with the labels that each got.

#2958 Removed Azure specific headers from typespec_client_core.
  Cargo.lock
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/benches/http_transport_benchmarks.rs
  sdk/core/azure_core/src/http/headers.rs
  sdk/core/azure_core/src/http/options/mod.rs
  sdk/core/azure_core/src/http/pipeline.rs
  sdk/core/azure_core/src/http/poller.rs
  sdk/core/azure_core_opentelemetry/tests/telemetry_service_implementation.rs
  sdk/core/azure_core_opentelemetry/tests/telemetry_service_macros.rs
  sdk/core/azure_core_test/src/proxy/client.rs
  sdk/cosmos/azure_data_cosmos/src/pipeline/mod.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/clients.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/clients/certificate_client.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/clients/key_client.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/clients/secret_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/append_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/page_blob_client.rs
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_client_core/src/error/http_error.rs
  sdk/typespec/typespec_client_core/src/http/headers/common.rs
  sdk/typespec/typespec_client_core/src/http/headers/microsoft.rs
  sdk/typespec/typespec_client_core/src/http/headers/mod.rs
  sdk/typespec/typespec_client_core/src/http/options/mod.rs
  sdk/typespec/typespec_client_core/src/http/options/retry.rs
  sdk/typespec/typespec_client_core/src/http/pipeline.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/exponential.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/fixed.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/mod.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/none.rs
  sdk/typespec/typespec_client_core/src/http/request/options/content_length.rs
  sdk/typespec/typespec_client_core/src/http/request/options/if_match_condition.rs
  sdk/typespec/typespec_client_core/src/http/request/options/if_modified_since.rs
  sdk/typespec/typespec_client_core/src/http/request/options/if_modified_since_condition.rs
  sdk/typespec/typespec_client_core/src/http/request/options/mod.rs
Labels: Storage, Azure.Core, KeyVault

#2970 Sync eng/common directory with azure-sdk-tools for PR 11974
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-PullRequest-In-ReleasePlan.ps1
Labels: EngSys, Central-EngSys

#3000 Prepare Key Vault release
  sdk/keyvault/azure_security_keyvault_certificates/CHANGELOG.md
  sdk/keyvault/azure_security_keyvault_keys/CHANGELOG.md
  sdk/keyvault/azure_security_keyvault_secrets/CHANGELOG.md
Labels: KeyVault

#2996 Prepare azure_identity 0.28.0 for release
  sdk/identity/azure_identity/CHANGELOG.md
Labels: Azure.Identity

#3005 Increment versions for identity releases
  Cargo.lock
  sdk/identity/azure_identity/CHANGELOG.md
  sdk/identity/azure_identity/Cargo.toml
Labels: Azure.Identity

#3006 Increment versions for storage releases
  Cargo.lock
  Cargo.toml
  sdk/storage/azure_storage_blob/CHANGELOG.md
  sdk/storage/azure_storage_blob/Cargo.toml
Labels: Storage

#3004 Increment versions for keyvault releases
  Cargo.lock
  sdk/keyvault/azure_security_keyvault_certificates/CHANGELOG.md
  sdk/keyvault/azure_security_keyvault_certificates/Cargo.toml
  sdk/keyvault/azure_security_keyvault_keys/CHANGELOG.md
  sdk/keyvault/azure_security_keyvault_keys/Cargo.toml
  sdk/keyvault/azure_security_keyvault_secrets/CHANGELOG.md
  sdk/keyvault/azure_security_keyvault_secrets/Cargo.toml
  sdk/keyvault/azure_security_keyvault_secrets/tests/secret_client.rs
Labels: KeyVault

#3014 changelog updates for 0.27.0
  sdk/cosmos/azure_data_cosmos/CHANGELOG.md
Labels: Cosmos

#2995 Update versions after core release
  Cargo.lock
  Cargo.toml
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core_amqp/CHANGELOG.md
  sdk/core/azure_core_amqp/Cargo.toml
  sdk/core/azure_core_macros/CHANGELOG.md
  sdk/core/azure_core_macros/Cargo.toml
  sdk/core/azure_core_opentelemetry/CHANGELOG.md
  sdk/core/azure_core_opentelemetry/Cargo.toml
  sdk/core/azure_core_opentelemetry/tests/telemetry_service_macros.rs
  sdk/eventhubs/azure_messaging_eventhubs/Cargo.toml
  sdk/servicebus/azure_messaging_servicebus/Cargo.toml
  sdk/typespec/CHANGELOG.md
  sdk/typespec/Cargo.toml
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_macros/CHANGELOG.md
  sdk/typespec/typespec_macros/Cargo.toml
Labels: Azure.Core

#3015 Sync eng/common directory with azure-sdk-tools for PR 12124
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Labels: EngSys, Central-EngSys

#3017 Increment versions for cosmos releases
  Cargo.lock
  sdk/cosmos/azure_data_cosmos/CHANGELOG.md
  sdk/cosmos/azure_data_cosmos/Cargo.toml
Labels: Cosmos

#3010 [Storage] `exists()` for BlobClient and BlobContainerClient
  sdk/storage/azure_storage_blob/assets.json
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/enums.rs
  sdk/storage/azure_storage_blob/src/models/mod.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
  sdk/storage/azure_storage_blob/tests/blob_container_client.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
Labels: Storage

#3016 Simplify ClientOptions
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/README.md
  sdk/core/azure_core/benches/http_transport_benchmarks.rs
  sdk/core/azure_core/examples/core_pager.rs
  sdk/core/azure_core/examples/core_poller.rs
  sdk/core/azure_core/examples/core_remove_user_agent.rs
  sdk/core/azure_core/examples/core_ureq_client.rs
  sdk/core/azure_core/src/http/options/mod.rs
  sdk/core/azure_core/src/http/pipeline.rs
  sdk/core/azure_core/src/http/policies/bearer_token_policy.rs
  sdk/core/azure_core/src/http/policies/client_request_id.rs
  sdk/core/azure_core/src/http/policies/instrumentation/public_api_instrumentation.rs
  sdk/core/azure_core/src/http/policies/instrumentation/request_instrumentation.rs
  sdk/core/azure_core_macros/src/tracing_new.rs
  sdk/core/azure_core_opentelemetry/README.md
  sdk/core/azure_core_opentelemetry/tests/telemetry_service_implementation.rs
  sdk/core/azure_core_opentelemetry/tests/telemetry_service_macros.rs
  sdk/core/azure_core_test/src/http/clients.rs
  sdk/cosmos/azure_data_cosmos/tests/framework/test_account.rs
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/examples/checkpoint_store_basic.rs
  sdk/identity/azure_identity/src/azure_pipelines_credential.rs
  sdk/identity/azure_identity/src/client_assertion_credential.rs
  sdk/identity/azure_identity/src/client_secret_credential.rs
  sdk/identity/azure_identity/src/managed_identity_credential.rs
  sdk/identity/azure_identity/src/workload_identity_credential.rs
  sdk/keyvault/azure_security_keyvault_keys/benches/benchmarks.rs
  sdk/keyvault/azure_security_keyvault_secrets/tests/secret_client.rs
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_client_core/README.md
  sdk/typespec/typespec_client_core/src/http/options/mod.rs
  sdk/typespec/typespec_client_core/src/http/options/transport.rs
  sdk/typespec/typespec_client_core/src/http/pipeline.rs
  sdk/typespec/typespec_client_core/src/http/policies/transport.rs
Labels: Cosmos, Azure.Identity, Azure.Core, KeyVault

#3022 Sync eng/common directory with azure-sdk-tools for PR 11968
  eng/common/instructions/azsdk-tools/sdk-details-in-release-plan.instructions.md
Labels: EngSys, Central-EngSys

#3030 Sync eng/common directory with azure-sdk-tools for PR 12060
  eng/common/tsp-client/README.md
  eng/common/tsp-client/package-lock.json
  eng/common/tsp-client/package.json
Labels: EngSys, Central-EngSys

#3031 Support default values for recording vars
  sdk/core/azure_core_test/src/recording.rs
  sdk/keyvault/assets.json
Labels: Azure.Core

#3034 Updated emitter version
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/keyvault/azure_security_keyvault_certificates/CHANGELOG.md
  sdk/keyvault/azure_security_keyvault_certificates/README.md
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/clients/certificate_client.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/mod.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/models/enums.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/models/method_options.rs
  sdk/keyvault/azure_security_keyvault_certificates/tests/certificate_client.rs
  sdk/keyvault/azure_security_keyvault_keys/CHANGELOG.md
  sdk/keyvault/azure_security_keyvault_keys/README.md
  sdk/keyvault/azure_security_keyvault_keys/benches/benchmarks.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/clients/key_client.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/mod.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/models/enums.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/models/method_options.rs
  sdk/keyvault/azure_security_keyvault_keys/tests/key_client.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/clients/secret_client.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/mod.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/models/method_options.rs
  sdk/storage/azure_storage_blob/src/generated/clients/append_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/page_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/mod.rs
  sdk/storage/azure_storage_blob/src/generated/models/enums.rs
  sdk/storage/azure_storage_blob/src/generated/models/method_options.rs
Labels: Storage, KeyVault

#2993 Sync eng/common directory with azure-sdk-tools for PR 12061
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#3043 Ensure azure_core is proper superset of typespec
  sdk/core/azure_core/src/http/mod.rs
  sdk/typespec/CHANGELOG.md
  sdk/typespec/src/http/headers.rs
  sdk/typespec/src/http/mod.rs
  sdk/typespec/src/http/response.rs
  sdk/typespec/typespec_client_core/src/http/headers/mod.rs
  sdk/typespec/typespec_client_core/src/http/mod.rs
  sdk/typespec/typespec_client_core/src/http/request/mod.rs
  sdk/typespec/typespec_client_core/src/http/response.rs
Labels: Azure.Core

#3028 Allow AzurePipelinesCredential to log ADO debugging headers
  sdk/identity/azure_identity/src/azure_pipelines_credential.rs
Labels: Azure.Identity

#3047 Sync eng/common directory with azure-sdk-tools for PR 12238
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Labels: EngSys, Central-EngSys

#3055 [Storage] Regenerate w/ `feature/azure-queue-storage-typespec` feature branch
  sdk/storage/azure_storage_queue/tsp-location.yaml
Labels: Storage

#3057 Sync eng/common directory with azure-sdk-tools for PR 12217
  eng/common/tsp-client/package-lock.json
  eng/common/tsp-client/package.json
Labels: EngSys, Central-EngSys
