Repository Azure/azure-sdk-for-rust, pull requests merged in 2025-07, with the labels that each got.

#2747 Sync eng/common directory with azure-sdk-tools for PR 11067
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
Labels: EngSys, Central-EngSys

#2746 Update rand, chacha, and fe2o3 crates and updated MSV to 1.85
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  eng/scripts/Analyze-Code.ps1
  eng/tools/generate_api_report/Cargo.toml
  sdk/core/azure_core_amqp/src/fe2o3/error.rs
  sdk/core/azure_core_amqp/src/fe2o3/value.rs
  sdk/core/azure_core_amqp/src/simple_value.rs
  sdk/core/azure_core_opentelemetry/Cargo.toml
  sdk/core/azure_core_test/src/recording.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/authorizer.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/retry.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/event_processor/load_balancer.rs
Labels: Azure.Core

#2748 Support reconstituting pageables
  eng/scripts/verify-dependencies.rs
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/src/http/pager.rs
  sdk/cosmos/azure_data_cosmos/src/feed.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/clients/certificate_client.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/clients/key_client.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/clients/secret_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_service_client.rs
Labels: Azure.Core

#2778 Update emitter to 0.18.0
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/models/enums.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/models/enums.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/models/enums.rs
  sdk/storage/azure_storage_blob/src/generated/clients/append_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/page_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/enums.rs
  sdk/typespec/typespec_client_core/src/error/http_error.rs
  sdk/typespec/typespec_macros/tests/data/safe-debug-tests/Cargo.lock
Labels: Storage

#2759 Add Poller<T> for long-running operations (LROs)
  Cargo.lock
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core/README.md
  sdk/core/azure_core/src/http/mod.rs
  sdk/core/azure_core/src/http/pager.rs
  sdk/core/azure_core/src/http/poller.rs
  sdk/core/azure_core/src/test.rs
  sdk/core/azure_core_test/src/recording.rs
  sdk/core/azure_core_test/src/recording/policy.rs
  sdk/keyvault/assets.json
  sdk/keyvault/azure_security_keyvault_certificates/CHANGELOG.md
  sdk/keyvault/azure_security_keyvault_certificates/README.md
  sdk/keyvault/azure_security_keyvault_certificates/src/clients.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/lib.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/models.rs
  sdk/keyvault/azure_security_keyvault_certificates/tests/certificate_client.rs
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_client_core/src/http/request/mod.rs
  sdk/typespec/typespec_client_core/src/http/response.rs
Labels: Azure.Core

#2780 Sync eng/common directory with azure-sdk-tools for PR 11152
  eng/common/pipelines/codeowners-linter.yml
Labels: EngSys, Central-EngSys

#2791 [Storage] Prepare `azure_storage_blob` for `v0.3.0` release
  sdk/storage/azure_storage_blob/CHANGELOG.md
  sdk/storage/azure_storage_blob/src/clients/append_blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/page_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/enums.rs
  sdk/storage/azure_storage_blob/src/generated/models/method_options.rs
  sdk/storage/azure_storage_blob/src/models/extensions.rs
  sdk/storage/azure_storage_blob/src/models/mod.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
Labels: Storage

#2788 Prepare azure_identity 0.26.0 for release
  sdk/identity/azure_identity/CHANGELOG.md
Labels: Azure.Identity

#2792 Increment versions for identity releases
  Cargo.lock
  sdk/identity/azure_identity/CHANGELOG.md
  sdk/identity/azure_identity/Cargo.toml
Labels: Azure.Identity

#2744 Added as_headers trait to ItemOptions
  sdk/cosmos/azure_data_cosmos/CHANGELOG.md
  sdk/cosmos/azure_data_cosmos/src/clients/container_client.rs
  sdk/cosmos/azure_data_cosmos/src/constants.rs
  sdk/cosmos/azure_data_cosmos/src/options/mod.rs
Labels: Cosmos

#2782 Increment versions for core releases
  Cargo.lock
  Cargo.toml
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core_amqp/CHANGELOG.md
  sdk/core/azure_core_amqp/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs/Cargo.toml
Labels: Azure.Core

#2808 Request.method() returns a copy of the method, not a reference
  sdk/core/azure_core/examples/core_remove_user_agent.rs
  sdk/cosmos/azure_data_cosmos/src/pipeline/authorization_policy.rs
  sdk/identity/azure_identity/src/client_assertion_credential.rs
  sdk/identity/azure_identity/src/client_secret_credential.rs
  sdk/typespec/typespec_client_core/src/http/clients/reqwest.rs
  sdk/typespec/typespec_client_core/src/http/policies/transport.rs
  sdk/typespec/typespec_client_core/src/http/request/mod.rs
Labels: Cosmos, Azure.Identity, Azure.Core

#2741 Distributed Tracing integration with SDK builds.
  .vscode/cspell.json
  Cargo.lock
  Cargo.toml
  doc/distributed-tracing-for-rust-service-clients.md
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core/src/http/options/mod.rs
  sdk/core/azure_core/src/http/options/request_instrumentation.rs
  sdk/core/azure_core/src/http/pipeline.rs
  sdk/core/azure_core/src/http/policies/instrumentation/mod.rs
  sdk/core/azure_core/src/http/policies/instrumentation/public_api_instrumentation.rs
  sdk/core/azure_core/src/http/policies/instrumentation/request_instrumentation.rs
  sdk/core/azure_core/src/http/policies/mod.rs
  sdk/core/azure_core/src/lib.rs
  sdk/core/azure_core_macros/Cargo.toml
  sdk/core/azure_core_macros/README.md
  sdk/core/azure_core_macros/src/lib.rs
  sdk/core/azure_core_macros/src/tracing.rs
  sdk/core/azure_core_macros/src/tracing_client.rs
  sdk/core/azure_core_macros/src/tracing_function.rs
  sdk/core/azure_core_macros/src/tracing_new.rs
  sdk/core/azure_core_macros/src/tracing_subclient.rs
  sdk/core/azure_core_opentelemetry/Cargo.toml
  sdk/core/azure_core_opentelemetry/README.md
  sdk/core/azure_core_opentelemetry/assets.json
  sdk/core/azure_core_opentelemetry/src/attributes.rs
  sdk/core/azure_core_opentelemetry/src/lib.rs
  sdk/core/azure_core_opentelemetry/src/span.rs
  sdk/core/azure_core_opentelemetry/src/telemetry.rs
  sdk/core/azure_core_opentelemetry/src/tracer.rs
  sdk/core/azure_core_opentelemetry/tests/otel_span_tests.rs
  sdk/core/azure_core_opentelemetry/tests/telemetry_service_implementation.rs
  sdk/core/azure_core_opentelemetry/tests/telemetry_service_macros.rs
  sdk/core/azure_core_test/src/lib.rs
  sdk/core/azure_core_test/src/tracing.rs
  sdk/typespec/typespec_client_core/src/http/method.rs
  sdk/typespec/typespec_client_core/src/http/pipeline.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/mod.rs
  sdk/typespec/typespec_client_core/src/lib.rs
  sdk/typespec/typespec_client_core/src/tracing/attributes.rs
  sdk/typespec/typespec_client_core/src/tracing/mod.rs
  sdk/typespec/typespec_client_core/src/tracing/with_context.rs
Labels: Azure.Core

#2805 Live workload identity (AKS) test
  sdk/identity/azure_identity/src/workload_identity_credential.rs
  sdk/identity/azure_identity/tests/tools/deployed_live_test/src/main.rs
  sdk/identity/ci.yml
  sdk/identity/test-resources-post.ps1
  sdk/identity/test-resources-pre.ps1
  sdk/identity/test-resources.bicep
Labels: Azure.Identity

#2817 Sync eng/common directory with azure-sdk-tools for PR 11336
  eng/common/pipelines/templates/jobs/perf.yml
Labels: EngSys, Central-EngSys

#2818 Sync eng/common directory with azure-sdk-tools for PR 11333
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Labels: EngSys, Central-EngSys

#2819 [Storage] Expose missed generated models
  sdk/storage/azure_storage_blob/src/models/mod.rs
Labels: Storage

#2821 [Storage] Remove duplicate auth policy in handwritten layer
  sdk/storage/azure_storage_blob/src/clients/append_blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/src/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/page_blob_client.rs
Labels: Storage

#2825 Sync eng/common directory with azure-sdk-tools for PR 11365
  eng/common/pipelines/templates/jobs/npm-publish.yml
Labels: EngSys, Central-EngSys

#2828 Sync eng/common directory with azure-sdk-tools for PR 11373
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Labels: EngSys, Central-EngSys

#2841 [Storage] Fix Etag serde rename
  sdk/storage/azure_storage_blob/src/generated/models/pub_models.rs
  sdk/storage/azure_storage_blob/tests/blob_container_client.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
Labels: Storage

#2837 Use PagerState, PollerState instead of Option for callbacks
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/src/http/pager.rs
  sdk/core/azure_core/src/http/poller.rs
  sdk/cosmos/azure_data_cosmos/src/pipeline/mod.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/clients.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/clients/certificate_client.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/clients/key_client.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/clients/secret_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_service_client.rs
Labels: Cosmos, Storage, Azure.Core
