Repository Azure/azure-sdk-for-rust, pull requests merged in 2025-08, with the labels that each got.

#2842 Updated changelog for August release
  Cargo.toml
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core_opentelemetry/Cargo.toml
  sdk/core/azure_core_opentelemetry/README.md
  sdk/core/azure_core_opentelemetry/assets.json
  sdk/core/azure_core_opentelemetry/tests/telemetry_service_implementation.rs
  sdk/core/azure_core_opentelemetry/tests/telemetry_service_macros.rs
  sdk/core/ci.yml
  sdk/typespec/CHANGELOG.md
Labels: Azure.Core

#2847 Prepare for azure_core 0.27.0 release
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core_amqp/CHANGELOG.md
  sdk/core/azure_core_macros/CHANGELOG.md
  sdk/core/azure_core_opentelemetry/CHANGELOG.md
  sdk/core/azure_core_opentelemetry/Cargo.toml
  sdk/typespec/CHANGELOG.md
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_macros/CHANGELOG.md
Labels: Azure.Core

#2846 Remove CertificateClientExt and impl directly on CertificateClient
  sdk/core/azure_core/README.md
  sdk/keyvault/azure_security_keyvault_certificates/CHANGELOG.md
  sdk/keyvault/azure_security_keyvault_certificates/README.md
  sdk/keyvault/azure_security_keyvault_certificates/src/clients.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/lib.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/models.rs
  sdk/keyvault/azure_security_keyvault_certificates/tests/certificate_client.rs
Labels: Azure.Core, KeyVault

#2858 Update emitter to 0.20.0
  eng/emitter-package-lock.json
  eng/emitter-package.json
  sdk/core/azure_core_test/src/stream.rs
  sdk/storage/azure_storage_blob/CHANGELOG.md
  sdk/storage/azure_storage_blob/src/clients/append_blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/page_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/append_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/page_blob_client.rs
Labels: Storage

#2857 Prepare Key Vault for release
  sdk/keyvault/azure_security_keyvault_certificates/CHANGELOG.md
  sdk/keyvault/azure_security_keyvault_keys/CHANGELOG.md
  sdk/keyvault/azure_security_keyvault_secrets/CHANGELOG.md
Labels: KeyVault

#2845 [Storage] Prep changelog for `v0.4.0` release
  sdk/storage/azure_storage_blob/CHANGELOG.md
Labels: Storage

#2861 Increment versions for keyvault releases
  Cargo.lock
  sdk/keyvault/azure_security_keyvault_certificates/CHANGELOG.md
  sdk/keyvault/azure_security_keyvault_certificates/Cargo.toml
  sdk/keyvault/azure_security_keyvault_keys/CHANGELOG.md
  sdk/keyvault/azure_security_keyvault_keys/Cargo.toml
  sdk/keyvault/azure_security_keyvault_secrets/CHANGELOG.md
  sdk/keyvault/azure_security_keyvault_secrets/Cargo.toml
Labels: KeyVault

#2862 Prepare azure_identity release
  sdk/identity/azure_identity/CHANGELOG.md
Labels: Azure.Identity

#2865 Increment versions for identity releases
  Cargo.lock
  sdk/identity/azure_identity/CHANGELOG.md
  sdk/identity/azure_identity/Cargo.toml
Labels: Azure.Identity

#2826 Added Reconnect support for Event Hubs
  Cargo.lock
  Cargo.toml
  sdk/core/azure_core_amqp/CHANGELOG.md
  sdk/core/azure_core_amqp/src/error.rs
  sdk/core/azure_core_amqp/src/fe2o3/connection.rs
  sdk/core/azure_core_amqp/src/fe2o3/error.rs
  sdk/core/azure_core_amqp/src/fe2o3/receiver.rs
  sdk/core/azure_core_amqp/src/fe2o3/sender.rs
  sdk/core/azure_core_amqp/src/fe2o3/session.rs
  sdk/eventhubs/azure_messaging_eventhubs/CHANGELOG.md
  sdk/eventhubs/azure_messaging_eventhubs/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs/README.md
  sdk/eventhubs/azure_messaging_eventhubs/assets.json
  sdk/eventhubs/azure_messaging_eventhubs/benches/benchmarks.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_batch_produce_events.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/authorizer.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/recoverable/claims_based_security.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/recoverable/connection.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/recoverable/management.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/recoverable/receiver.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/recoverable/sender.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/common/retry.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/consumer/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/event_processor/load_balancer.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/event_processor/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/in_memory_checkpoint_store.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/lib.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/batch.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/producer/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/eventhubs_producer.rs
  sdk/eventhubs/azure_messaging_eventhubs/tests/eventhubs_round_trip.rs
  sdk/typespec/typespec_client_core/src/tracing/with_context.rs
Labels: Azure.Core

#2866 Sync eng/common directory with azure-sdk-tools for PR 11524
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#2870 [Storage] Increment after v0.4.0 release
  Cargo.lock
  sdk/storage/azure_storage_blob/CHANGELOG.md
  sdk/storage/azure_storage_blob/Cargo.toml
Labels: Storage

#2867 Sync eng/common directory with azure-sdk-tools for PR 10749
  eng/common/TestResources/TestResources-Helpers.ps1
Labels: EngSys, Central-EngSys

#2876 update changelog for 0.26
  sdk/cosmos/azure_data_cosmos/CHANGELOG.md
Labels: Cosmos

#2874 Sync eng/common directory with azure-sdk-tools for PR 11531
  eng/common/TestResources/New-TestResources.ps1
Labels: EngSys, Central-EngSys

#2852 Increment versions for core releases
  Cargo.lock
  Cargo.toml
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core_amqp/CHANGELOG.md
  sdk/core/azure_core_amqp/Cargo.toml
  sdk/core/azure_core_macros/CHANGELOG.md
  sdk/core/azure_core_macros/Cargo.toml
  sdk/core/azure_core_opentelemetry/CHANGELOG.md
  sdk/core/azure_core_opentelemetry/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs/Cargo.toml
Labels: Azure.Core

#2851 Implement checkpoint store for azure storage blobs.
  .vscode/cspell.json
  Cargo.lock
  Cargo.toml
  sdk/core/azure_core_test/src/recording.rs
  sdk/eventhubs/.dict.txt
  sdk/eventhubs/assets.json
  sdk/eventhubs/azure_messaging_eventhubs/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs/README.md
  sdk/eventhubs/azure_messaging_eventhubs/src/common/authorizer.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/event_processor/load_balancer.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/event_processor/models.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/event_processor/processor.rs
  sdk/eventhubs/azure_messaging_eventhubs/src/in_memory_checkpoint_store.rs
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/README.md
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/examples/checkpoint_store_basic.rs
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/examples/processor_with_blob_checkpoints.rs
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/src/checkpoint_store.rs
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/src/lib.rs
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/tests/checkpoint_unit_tests.rs
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/tests/ownership_unit_tests.rs
  sdk/eventhubs/test-resources-post.ps1
  sdk/eventhubs/test-resources.bicep
Labels: Azure.Core

#2885 Fix clippy 1.90 lint
  sdk/core/azure_core/src/http/policies/bearer_token_policy.rs
  sdk/core/azure_core/src/http/policies/instrumentation/public_api_instrumentation.rs
  sdk/core/azure_core_test/src/proxy/mod.rs
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/tests/ownership_unit_tests.rs
  sdk/typespec/typespec_client_core/src/async_runtime/mod.rs
  sdk/typespec/typespec_client_core/src/async_runtime/standard_runtime.rs
  sdk/typespec/typespec_client_core/src/async_runtime/tests.rs
  sdk/typespec/typespec_client_core/src/http/request/mod.rs
Labels: Azure.Core

#2890 Fix clippy lint about lifetime elision
  sdk/core/azure_core/src/http/poller.rs
Labels: Azure.Core

#2888 OpenTelemetry fixes from PR
  Cargo.lock
  doc/distributed-tracing-for-rust-service-clients.md
  sdk/core/azure_core/src/http/options/instrumentation.rs
  sdk/core/azure_core/src/http/options/mod.rs
  sdk/core/azure_core/src/http/pipeline.rs
  sdk/core/azure_core/src/lib.rs
  sdk/core/azure_core_macros/src/tracing.rs
  sdk/core/azure_core_macros/src/tracing_function.rs
  sdk/core/azure_core_macros/src/tracing_new.rs
  sdk/core/azure_core_macros/src/tracing_subclient.rs
  sdk/core/azure_core_opentelemetry/README.md
  sdk/core/azure_core_opentelemetry/src/telemetry.rs
  sdk/core/azure_core_opentelemetry/tests/telemetry_service_implementation.rs
  sdk/core/azure_core_opentelemetry/tests/telemetry_service_macros.rs
  sdk/eventhubs/azure_messaging_eventhubs/examples/eventhubs_tracing_subscriber.rs
Labels: Azure.Core

#2855 Sync eng/common directory with azure-sdk-tools for PR 11330
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/README.md
Labels: EngSys, Central-EngSys

#2835 [Storage] `get_page_ranges`, `update_sequence_number` and `upload_pages_from_url` for PageBlobClient
  sdk/storage/azure_storage_blob/assets.json
  sdk/storage/azure_storage_blob/src/clients/page_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/page_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/header_traits.rs
  sdk/storage/azure_storage_blob/src/generated/models/method_options.rs
  sdk/storage/azure_storage_blob/src/generated/models/pub_models.rs
  sdk/storage/azure_storage_blob/src/generated/models/xml_helpers.rs
  sdk/storage/azure_storage_blob/src/models/mod.rs
  sdk/storage/azure_storage_blob/tests/page_blob_client.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
Labels: Storage

#2897 Listen only to stdout for test-proxy errors
  CONTRIBUTING.md
  sdk/core/azure_core_test/src/proxy/bootstrap.rs
  sdk/core/azure_core_test/src/proxy/mod.rs
Labels: Azure.Core

#2801 Adding Location Cache
  sdk/cosmos/azure_data_cosmos/src/lib.rs
  sdk/cosmos/azure_data_cosmos/src/location_cache.rs
Labels: Cosmos

#2918 Sync eng/common directory with azure-sdk-tools for PR 11726
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Labels: EngSys, Central-EngSys

#2795 [Storage] `get_account_info` all clients, `set/get_tags` for BlobClient, `set_properties` for BlobServiceClient
  sdk/storage/azure_storage_blob/assets.json
  sdk/storage/azure_storage_blob/src/clients/append_blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/src/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/page_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/header_traits.rs
  sdk/storage/azure_storage_blob/src/generated/models/pub_models.rs
  sdk/storage/azure_storage_blob/src/models/extensions.rs
  sdk/storage/azure_storage_blob/src/models/mod.rs
  sdk/storage/azure_storage_blob/src/parsers.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
  sdk/storage/azure_storage_blob/tests/blob_container_client.rs
  sdk/storage/azure_storage_blob/tests/blob_service_client.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
Labels: Storage

#2838 typespec_client_core: New `web_runtime` to support wasm32-unknown-unknown
  Cargo.lock
  Cargo.toml
  eng/dict/crates.txt
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/src/async_runtime/mod.rs
  sdk/typespec/typespec_client_core/src/async_runtime/standard_runtime.rs
  sdk/typespec/typespec_client_core/src/async_runtime/tests.rs
  sdk/typespec/typespec_client_core/src/async_runtime/web_runtime.rs
  sdk/typespec/typespec_client_core/src/fmt.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/mod.rs
  sdk/typespec/typespec_client_core/src/sleep.rs
  sdk/typespec/typespec_client_core/src/time/mod.rs
  sdk/typespec/typespec_client_core/src/time/unix_time.rs
Labels: Community Contribution, customer-reported

#2919 [Storage] Make `metadata` a parameter for `set_metadata` API, StorageServiceProperties renamed to BlobServiceProperties
  sdk/storage/azure_storage_blob/src/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/src/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_service_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/method_options.rs
  sdk/storage/azure_storage_blob/src/generated/models/models_impl.rs
  sdk/storage/azure_storage_blob/src/generated/models/pub_models.rs
  sdk/storage/azure_storage_blob/src/models/mod.rs
  sdk/storage/azure_storage_blob/tests/blob_container_client.rs
  sdk/storage/azure_storage_blob/tests/blob_service_client.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
Labels: Storage

#2932 Sync eng/common directory with azure-sdk-tools for PR 11745
  eng/common/pipelines/templates/steps/mark-release-completion.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Labels: EngSys, Central-EngSys

#2939 Sync eng/common directory with azure-sdk-tools for PR 11801
  eng/common/scripts/ChangeLog-Operations.ps1
Labels: EngSys, Central-EngSys

#2942 Sync eng/common directory with azure-sdk-tools for PR 11807
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
Labels: EngSys, Central-EngSys

#2941 Add doc_auto_cfg to all crates
  sdk/keyvault/azure_security_keyvault_certificates/src/lib.rs
  sdk/keyvault/azure_security_keyvault_keys/src/lib.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/lib.rs
  sdk/storage/azure_storage_blob/src/lib.rs
  sdk/typespec/typespec_macros/src/lib.rs
Labels: Storage, KeyVault

#2940 Sync eng/common directory with azure-sdk-tools for PR 11802
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/validate-codeowners.instructions.md
  eng/common/instructions/azsdk-tools/validate-service-label.instruction.md
Labels: EngSys, Central-EngSys

#2933 Remove parity features
  .vscode/cspell.json
  Cargo.lock
  Cargo.toml
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core/README.md
  sdk/core/azure_core_opentelemetry/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/Cargo.toml
  sdk/identity/azure_identity/Cargo.toml
  sdk/keyvault/azure_security_keyvault_certificates/Cargo.toml
  sdk/keyvault/azure_security_keyvault_keys/Cargo.toml
  sdk/keyvault/azure_security_keyvault_secrets/Cargo.toml
  sdk/storage/azure_storage_blob/Cargo.toml
  sdk/typespec/typespec_client_core/Cargo.toml
  sdk/typespec/typespec_client_core/README.md
  sdk/typespec/typespec_client_core/src/http/clients/mod.rs
  sdk/typespec/typespec_macros/tests/data/safe-debug-tests/Cargo.lock
Labels: Azure.Identity, Azure.Core

#2947 Make sure the root README is tested
  README.md
  sdk/core/azure_core_test/src/docs/mod.rs
  sdk/core/azure_core_test/src/docs/root_readme.rs
  sdk/core/azure_core_test/src/lib.rs
Labels: Azure.Core

#2936 [Storage] `upload_blob_from_url` for BlobClient
  sdk/storage/azure_storage_blob/assets.json
  sdk/storage/azure_storage_blob/src/clients/append_blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/clients/page_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/block_blob_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/header_traits.rs
  sdk/storage/azure_storage_blob/src/generated/models/method_options.rs
  sdk/storage/azure_storage_blob/src/generated/models/pub_models.rs
  sdk/storage/azure_storage_blob/src/models/extensions.rs
  sdk/storage/azure_storage_blob/src/models/mod.rs
  sdk/storage/azure_storage_blob/tests/append_blob_client.rs
  sdk/storage/azure_storage_blob/tests/blob_client.rs
  sdk/storage/azure_storage_blob/tests/blob_container_client.rs
  sdk/storage/azure_storage_blob/tests/block_blob_client.rs
  sdk/storage/azure_storage_blob/tests/page_blob_client.rs
  sdk/storage/azure_storage_blob/tsp-location.yaml
  sdk/storage/azure_storage_blob_test/src/lib.rs
Labels: Storage

#2946 Add alternative HTTP client configuration docs
  .vscode/cspell.json
  Cargo.lock
  eng/dict/crates.txt
  eng/scripts/verify-dependencies.rs
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/Cargo.toml
  sdk/core/azure_core/README.md
  sdk/core/azure_core/examples/core_ureq_client.rs
  sdk/typespec/typespec_client_core/CHANGELOG.md
Labels: Azure.Core

#2948 Don't start test broker on macos
  sdk/core/azure_core_amqp/Test-Cleanup.ps1
  sdk/core/azure_core_amqp/Test-Setup.ps1
Labels: Azure.Core

#2945 Allow use of other TLS implementations for eventhubs
  Cargo.toml
  sdk/core/azure_core_amqp/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs/Cargo.toml
  sdk/servicebus/azure_messaging_servicebus/Cargo.toml
Labels: Azure.Core

#2960 Refactor pager, poller modules (#2909)
  sdk/core/azure_core/examples/core_pager.rs
  sdk/core/azure_core/examples/core_poller.rs
  sdk/core/azure_core/src/http/mod.rs
  sdk/core/azure_core/src/http/pager.rs
  sdk/cosmos/azure_data_cosmos/src/feed.rs
  sdk/cosmos/azure_data_cosmos/src/pipeline/mod.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/clients.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/clients/certificate_client.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/models/models_impl.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/models.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/clients/key_client.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/models/models_impl.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/clients/secret_client.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/models/models_impl.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_container_client.rs
  sdk/storage/azure_storage_blob/src/generated/clients/blob_service_client.rs
Labels: Cosmos, Storage, Azure.Core, KeyVault

#2955 Add a Logging policy with sanitized HTTP headers and URLs
  Cargo.lock
  eng/scripts/verify-dependencies.rs
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core/README.md
  sdk/core/azure_core/src/http/options/mod.rs
  sdk/core/azure_core/src/http/pipeline.rs
  sdk/core/azure_core/src/http/policies/instrumentation/public_api_instrumentation.rs
  sdk/core/azure_core/src/http/policies/instrumentation/request_instrumentation.rs
  sdk/core/azure_core_opentelemetry/tests/telemetry_service_implementation.rs
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/Cargo.toml
  sdk/eventhubs/azure_messaging_eventhubs_checkpointstore_blob/examples/checkpoint_store_basic.rs
  sdk/typespec/typespec_client_core/src/http/clients/reqwest.rs
  sdk/typespec/typespec_client_core/src/http/headers/common.rs
  sdk/typespec/typespec_client_core/src/http/headers/microsoft.rs
  sdk/typespec/typespec_client_core/src/http/headers/mod.rs
  sdk/typespec/typespec_client_core/src/http/mod.rs
  sdk/typespec/typespec_client_core/src/http/options/mod.rs
  sdk/typespec/typespec_client_core/src/http/pipeline.rs
  sdk/typespec/typespec_client_core/src/http/policies/logging.rs
  sdk/typespec/typespec_client_core/src/http/policies/mod.rs
  sdk/typespec/typespec_client_core/src/http/policies/retry/mod.rs
  sdk/typespec/typespec_client_core/src/http/policies/transport.rs
  sdk/typespec/typespec_client_core/src/http/request/mod.rs
  sdk/typespec/typespec_client_core/src/http/sanitizer.rs
Labels: Azure.Core

#2957 Refactor RequestContent conversion for Spector
  sdk/core/azure_core/CHANGELOG.md
  sdk/core/azure_core_test/src/proxy/models.rs
  sdk/keyvault/azure_security_keyvault_certificates/src/generated/models/models_impl.rs
  sdk/keyvault/azure_security_keyvault_keys/src/generated/models/models_impl.rs
  sdk/keyvault/azure_security_keyvault_keys/tests/key_client.rs
  sdk/keyvault/azure_security_keyvault_secrets/src/generated/models/models_impl.rs
  sdk/keyvault/azure_security_keyvault_secrets/tests/secret_client.rs
  sdk/storage/azure_storage_blob/src/generated/models/models_impl.rs
  sdk/typespec/typespec_client_core/CHANGELOG.md
  sdk/typespec/typespec_client_core/src/http/request/mod.rs
Labels: Storage, Azure.Core, KeyVault
